flows (2).json
[
    {
        "id": "aba5119f3abbead2",
        "type": "tab",
        "label": "Account",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "718f663448931cb0",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5800fc4ea47bc2d",
        "type": "tab",
        "label": "Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ab9b945bb042acc",
        "type": "tab",
        "label": "Setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "796c82189a31d53b",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5b4690c03cf222d",
        "type": "group",
        "z": "aba5119f3abbead2",
        "name": "Header",
        "style": {
            "label": true
        },
        "nodes": [
            "93ad4513ca268ce8",
            "1f369f33716c1992",
            "6ccf15651e2414dc",
            "7e241832a39e375f",
            "58123887e54f010b",
            "e641a6db32c4af6d",
            "0d4bc7d81d871f9e",
            "7b17cd9cd9ab7033",
            "fc4ae501bb74a44d",
            "04580bf8cfc3146e",
            "aee71491662afce8",
            "39a839617a253228",
            "32bb0a602cfd6cf7",
            "1d297d73b98b498f",
            "fdb55a23bf43c8fc",
            "7fe74274b344aacf",
            "4bb5f97f5f874ca8",
            "4e398c777dae1d18"
        ],
        "x": 114,
        "y": 99,
        "w": 972,
        "h": 362
    },
    {
        "id": "021557ad184624df",
        "type": "group",
        "z": "718f663448931cb0",
        "name": "Data Summ.",
        "style": {
            "label": true
        },
        "nodes": [
            "55ecdfd71dd3255d",
            "947bd86b96cd7c46",
            "8c7369f6466e7777",
            "6dc89363d91ff99b",
            "898eda77b821b8b8",
            "25991d89a40328c5",
            "258d7a203e73d75b",
            "a51a337854e1cb50",
            "f8fc4994a940f652",
            "131b6c6f4ea75658",
            "435085504f6ab646",
            "31899d9e146432ed",
            "7e57bd280ded3032",
            "8a9a8dba3a15ca94",
            "b45626b9b8badaa5",
            "c3fd573be30b4241",
            "fdca07b92d06285a",
            "f55adc923ec06fd1",
            "8e04ef637635976c",
            "41a9308bc927d0f0"
        ],
        "x": 114,
        "y": 279,
        "w": 812,
        "h": 402
    },
    {
        "id": "9415a6badb2f7d8d",
        "type": "group",
        "z": "718f663448931cb0",
        "name": "Header",
        "style": {
            "label": true
        },
        "nodes": [
            "ef9cb4a6af7bcb35",
            "db88f65b79e693b1",
            "b6682b67e146bb45",
            "292cf9a77b2c9aad",
            "4f38e193a648037d",
            "995675ba814433d6",
            "06d860ad5f36f0d5",
            "6ad719e6d41e4fa5",
            "3ae7533ada099cfc",
            "46994f270f16cc2e"
        ],
        "x": 114,
        "y": 39,
        "w": 932,
        "h": 222
    },
    {
        "id": "6fa12e6be06a2ffb",
        "type": "group",
        "z": "718f663448931cb0",
        "name": "Motor",
        "style": {
            "label": true
        },
        "nodes": [
            "ea1e32d72663f225",
            "ab815e9d37ee0628",
            "2aa6cd4a9092011c",
            "125ef0fb54538341",
            "014a272ab3a5386f",
            "74a4b905ddfaaa15",
            "b046616d09e091c8",
            "76a7a1c099e775e3",
            "03543aa1ac5a70f1",
            "5afee7908882af13",
            "385eae1ce959a728",
            "bd737a4079737640"
        ],
        "x": 994,
        "y": 279,
        "w": 672,
        "h": 302
    },
    {
        "id": "02a2c3a5232ffa16",
        "type": "group",
        "z": "718f663448931cb0",
        "name": "Footer",
        "style": {
            "label": true
        },
        "nodes": [
            "370c309de877086b",
            "8f84d70ef143b8a9",
            "32e72f5aabc8c85f",
            "31c3a58a41853f05",
            "789ea23efdf053cd",
            "89d5f49e590fa238",
            "a4cb12077d671cbd",
            "aaac8b87e421ca79",
            "a66cb7b9ae7526ed",
            "e7949155cce704d1",
            "2e6df055aea536cc"
        ],
        "x": 254,
        "y": 839,
        "w": 1272,
        "h": 142
    },
    {
        "id": "1b916e236ee42353",
        "type": "group",
        "z": "c5800fc4ea47bc2d",
        "name": "Header",
        "style": {
            "label": true
        },
        "nodes": [
            "94bccf580489af09",
            "69866364451c0825",
            "4edb6a4705473a40",
            "ca48e1db572a66fa",
            "243e81faa0455cee",
            "9ed1669be97813fb",
            "f9cf475ffc0263dd",
            "b62db261bb7ce332",
            "5639c66987fa13cf",
            "7e33f47988db94f1"
        ],
        "x": 134,
        "y": 79,
        "w": 932,
        "h": 222
    },
    {
        "id": "8fdeddd43b90e126",
        "type": "group",
        "z": "9ab9b945bb042acc",
        "name": "Header",
        "style": {
            "label": true
        },
        "nodes": [
            "85b1e04a6bce916e",
            "b0f5cd15b99e7810",
            "277163164f7f1a07",
            "4fecb11a24e0b9bc",
            "d10af536d0e41ea0",
            "5b98f84456aaa093",
            "194bb89e8f54ab97",
            "6922d206ade88add",
            "d0bbc268045c3220",
            "49c17b28529391ff"
        ],
        "x": 134,
        "y": 79,
        "w": 932,
        "h": 222
    },
    {
        "id": "5e8f0350d3f6f278",
        "type": "group",
        "z": "796c82189a31d53b",
        "name": "Header",
        "style": {
            "label": true
        },
        "nodes": [
            "2d3afe0869698aa3",
            "e94c8cc5fc6fa8aa",
            "d6c384b4f19ff0ad",
            "8bef0fdc0bcd0b40",
            "a536f0bc8a91a9e9",
            "682ceaeef1e3a05e",
            "25e3a39018107545",
            "95d9c33ee7fb640a",
            "1e41adbda7e5033e",
            "e0d3a697f0dc5a32"
        ],
        "x": 214,
        "y": 39,
        "w": 932,
        "h": 222
    },
    {
        "id": "11f7e2462d75212c",
        "type": "ui_tab",
        "name": "Account",
        "icon": "account_circle",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6db6cb16954e8657",
        "type": "ui_group",
        "name": "TestForm",
        "tab": "11f7e2462d75212c",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false,
        "className": "Account"
    },
    {
        "id": "3b644f18c97d51e7",
        "type": "ui_group",
        "name": "Header Guru",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "25",
        "collapse": false,
        "className": "Header-Group"
    },
    {
        "id": "cf294641d714c5b4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "68f59c5c016275c5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "13d0ed2585f58afb",
        "type": "ui_tab",
        "name": "Data",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b25aba441b7fa88d",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89a45e2319cc44db",
        "type": "ui_tab",
        "name": "Alarm",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcfdc7d9f9ba0774",
        "type": "ui_group",
        "name": "Header",
        "tab": "68f59c5c016275c5",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0c708dc21e53e39",
        "type": "ui_group",
        "name": "Chart",
        "tab": "13d0ed2585f58afb",
        "order": 2,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "70dd8a9401882dd2",
        "type": "ui_group",
        "name": "Account Managemet",
        "tab": "b25aba441b7fa88d",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "87d72bf1ea31db77",
        "type": "ui_group",
        "name": "Header",
        "tab": "89a45e2319cc44db",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb13ac083ccc5ed5",
        "type": "ui_group",
        "name": "Data",
        "tab": "68f59c5c016275c5",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f13701e6731b9f8",
        "type": "ui_group",
        "name": "Motor",
        "tab": "68f59c5c016275c5",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "338fbe2bb0801168",
        "type": "ui_group",
        "name": "Footer",
        "tab": "68f59c5c016275c5",
        "order": 4,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61bf19e7258d5586",
        "type": "ui_group",
        "name": "Header",
        "tab": "13d0ed2585f58afb",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0bb779cf2d9a38a8",
        "type": "ui_group",
        "name": "Alarm",
        "tab": "89a45e2319cc44db",
        "order": 2,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01e9c3b1c142a2a4",
        "type": "ui_group",
        "name": "Header",
        "tab": "b25aba441b7fa88d",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ece387507f0b5afb",
        "type": "ui_tab",
        "name": "DataMH",
        "icon": "pool",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1f4569f5dcd31bfa",
        "type": "ui_group",
        "name": "Data",
        "tab": "ece387507f0b5afb",
        "order": 2,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "40002591dc46e0e5",
        "type": "ui_group",
        "name": "System Info",
        "tab": "b25aba441b7fa88d",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e761d92f42189f9f",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "61bf19e7258d5586",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "e1571c0b34946e16",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "d0c708dc21e53e39",
        "order": 3,
        "width": 13,
        "height": 1
    },
    {
        "id": "ddc5519fdd512e4b",
        "type": "ui_spacer",
        "z": "9ab9b945bb042acc",
        "name": "spacer",
        "group": "01e9c3b1c142a2a4",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "97365d8729c46041",
        "type": "ui_spacer",
        "z": "796c82189a31d53b",
        "name": "spacer",
        "group": "87d72bf1ea31db77",
        "order": 2,
        "width": 9,
        "height": 1
    },
    {
        "id": "3d5aa9d24453fece",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "fcfdc7d9f9ba0774",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "632b8a24185dbc69",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "eb13ac083ccc5ed5",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec40d103d1eff652",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "eb13ac083ccc5ed5",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "d4906c7770fa6951",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "eb13ac083ccc5ed5",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "89fa5575abd0efe6",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "eb13ac083ccc5ed5",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "2fb872c69cedd71c",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "6db6cb16954e8657",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "bea503e4fc04bcfb",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "6db6cb16954e8657",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "cec14ab4cbe3ddc9",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "6db6cb16954e8657",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "77aeb4740b6f3e4a",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "6db6cb16954e8657",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "eaab850a51c219af",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "6db6cb16954e8657",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "77d5a3538ec42220",
        "type": "ui_spacer",
        "z": "718f663448931cb0",
        "name": "spacer",
        "group": "6db6cb16954e8657",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "93ad4513ca268ce8",
        "type": "function",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "function 100",
        "func": "var pw = msg.payload.password;\nvar user = msg.payload.username;\n\nif (user === \"faaq\" && pw === \"123\") {\n    msg.payload = {\n        \"tab\": \"Home\",\n        \"tabs\": {\n            \"show\": [\"HomeNew\", \"MHSiswa\", \"DataMH\", \"PVSiswa\", \"DataPV\"],\n            \"hide\": [\"MHGuru\", \"PVGuru\"]\n        }\n    };\n} else {\n    msg.payload = {\n        \"error\": \"Invalid username or password\"\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "fc4ae501bb74a44d",
                "1d297d73b98b498f",
                "4bb5f97f5f874ca8"
            ]
        ]
    },
    {
        "id": "1f369f33716c1992",
        "type": "inject",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "6ccf15651e2414dc"
            ]
        ]
    },
    {
        "id": "6ccf15651e2414dc",
        "type": "function",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "function 101",
        "func": "\nmsg.payload = {\n    \"tab\": \"Account\",\n    \"tabs\":{\n        \"hide\": [\"MHGuru\", \"MHSiswa\", \"DataMH\", \"DataPV\", \"PVGuru\", \"PVSiswa\", \"Home\",\"Data\", \"Setting\", \"Camera\", \"Files_(New)\", \"Pupuk\"]\n    },\n    \"group\": {\n        \"show\": [\"DataMH_Data\"],\n        \"hide\": [\"DataMH_Pressure\", \"DataMH_Flow\", \"DataMH_Power\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "04580bf8cfc3146e"
            ]
        ]
    },
    {
        "id": "7e241832a39e375f",
        "type": "change",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "global",
                "to": "payload.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "58123887e54f010b"
            ]
        ]
    },
    {
        "id": "58123887e54f010b",
        "type": "debug",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "e641a6db32c4af6d",
        "type": "ui_form",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "",
        "label": "",
        "group": "6db6cb16954e8657",
        "order": 6,
        "width": 7,
        "height": 1,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "93ad4513ca268ce8",
                "7e241832a39e375f",
                "7fe74274b344aacf"
            ]
        ]
    },
    {
        "id": "0d4bc7d81d871f9e",
        "type": "ui_text",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "group": "6db6cb16954e8657",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Masuk sebagai:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "Welcome",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b17cd9cd9ab7033",
        "type": "ui_text",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "group": "6db6cb16954e8657",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "Judul",
        "label": "",
        "format": "Sistem Control Motor AC IIoT - 2025",
        "layout": "row-left",
        "className": "Welcome",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": "26",
        "color": "#5f49ab",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "fc4ae501bb74a44d",
        "type": "ui_ui_control",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "",
        "events": "all",
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "04580bf8cfc3146e",
        "type": "ui_ui_control",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "",
        "events": "all",
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "aee71491662afce8",
        "type": "ui_template",
        "z": "aba5119f3abbead2",
        "d": true,
        "g": "d5b4690c03cf222d",
        "group": "3b644f18c97d51e7",
        "name": "CSS Styling Acc2",
        "order": 9,
        "width": 25,
        "height": 1,
        "format": "<style>\n    /* Center the group container with class \"Account\" */\n    .nr-dashboard-cardpanel.Account, .nr-dashboard-cardcontainer.Account {\n    //display: flex;\n    justify-content: center; /* Centers horizontally */\n    align-items: center; /* Centers vertically */\n    //height: 45vh; /* Make the container take the full viewport height */\n    }\n    \n    /* Ensure individual cards inside the container are properly centered */\n    .nr-dashboard-cardcontainer.Account md-card {\n    margin: 10px; /* Add some margin around each card for spacing */\n    }\n    \n    /* Additional styling to make sure content inside the card is centered */\n    .nr-dashboard-cardcontainer.Account .nr-dashboard-widget {\n    display: flex;\n    justify-content: center; /* Centers content horizontally */\n    align-items: center; /* Centers content vertically */\n    }\n    /* Center the welcome text and position it at the top of the group */\n.nr-dashboard-cardpanel.Account .Welcome {\n    display: flex;\n    justify-content: center; /* Centers horizontally */\n    align-items: center; /* Centers vertically */\n    text-align: center; /* Ensures text inside the div is centered */\n    width: 100%; /* Ensures the div takes full width */\n    position: absolute; /* Positions the div absolutely within the container */\n    top: 0; /* Positions the div at the top */\n    margin-top: 10px; /* Adds some margin at the top if needed */\n    font-size: 24px; /* Adjust the font size as needed */\n}\n\n/* Optional: Adjust the padding or margin of the group if needed */\n.nr-dashboard-cardpanel.Account {\n    padding-top: 50px; /* Adjust this value based on your design */\n    position: relative; /* Ensure the group is relatively positioned for the absolute child to work correctly */\n}\n\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "39a839617a253228",
        "type": "ui_template",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "group": "3b644f18c97d51e7",
        "name": "CSS Styling Acc1",
        "order": 10,
        "width": 25,
        "height": 1,
        "format": "<style>\n    #Account_TestForm_cards > md-card.nr-dashboard-template.nr-dashboard-ui_svg_graphics.visible{\n        padding-bottom: 20px;\n    }\n    #Account_TestForm_cards{\n    align-items: center;\n    }\n    .nr-dashboard-theme .nr-dashboard-template .md-button {\n    background-color: #134B70 !important}\n    \n    /* Ensure the parent container is a flex container */\n\n/* Parent container should be flex */\nelement.style {\n    left: 500px !important;\n    top: 200px !important;\n}\n#Account_TestForm {\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    min-height: 50vh;\n    transform: none;\n}\n\n.nr-dashboard-cardpanel.Account {\n    left: none ;\n    top: none;\n\n}\n#Account_TestForm{\n    top: 60px;\n}\n\n#Account_TestForm\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "32bb0a602cfd6cf7",
        "type": "ui_svg_graphics",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "group": "6db6cb16954e8657",
        "order": 2,
        "width": 9,
        "height": 9,
        "svgString": "<?xml version=\"1.0\" standalone=\"no\"?>\n<!DOCTYPE svg PUBLIC \"-//W3C//DTD SVG 20010904//EN\" \"http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd\">\n<svg version=\"1.0\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"0 0 1127.000000 802.000000\" preserveAspectRatio=\"xMidYMid meet\">\n  <g transform=\"translate(0.000000,802.000000) scale(0.100000,-0.100000)\" fill=\"#000000\" stroke=\"none\">\n    <path d=\"M7210 7844 c-41 -25 -156 -91 -255 -147 l-180 -102 -3 -52 c-2 -29\n-7 -53 -13 -53 -12 0 -12 -97 1 -105 6 -4 10 -120 10 -315 0 -195 -4 -311 -10\n-315 -5 -3 -10 -28 -10 -55 0 -27 5 -52 10 -55 6 -3 10 -22 10 -42 0 -43 4\n-44 -149 46 -174 102 -230 134 -266 155 -18 10 -40 33 -48 52 -11 23 -32 41\n-66 59 -63 31 -85 31 -147 0 -38 -19 -64 -25 -119 -25 -125 0 -206 -57 -266\n-184 -16 -34 -29 -69 -29 -78 0 -9 -16 -26 -35 -38 -60 -37 -75 -65 -75 -137\n0 -35 5 -74 11 -85 9 -17 7 -24 -14 -42 -14 -11 -32 -35 -41 -52 -8 -17 -31\n-47 -51 -67 -35 -35 -36 -38 -33 -99 l3 -63 55 -28 c74 -38 76 -41 35 -66 -27\n-15 -53 -21 -99 -21 -118 0 -202 -48 -257 -146 -20 -35 -46 -63 -79 -84 -55\n-36 -80 -79 -80 -142 l0 -43 -100 -57 c-55 -32 -105 -58 -111 -58 -25 0 -80\n44 -93 73 -15 37 -41 62 -74 72 -19 5 -31 -1 -62 -34 -22 -22 -42 -36 -45 -31\n-10 17 -84 11 -135 -11 -37 -16 -53 -18 -68 -10 -41 22 -88 13 -116 -20 -14\n-17 -26 -34 -26 -39 0 -10 -59 -34 -66 -27 -3 3 -8 33 -11 66 -5 51 -3 61 10\n61 26 0 57 49 57 91 0 47 -16 84 -46 104 -16 10 -25 28 -30 62 -9 66 -39 117\n-84 142 -56 31 -97 27 -185 -20 l-78 -41 6 29 c2 15 11 42 18 59 28 70 -33\n130 -143 140 -118 11 -212 -37 -212 -109 0 -19 7 -43 14 -53 9 -9 15 -38 15\n-64 0 -55 20 -84 73 -107 35 -15 40 -38 22 -103 -9 -32 -25 -44 -211 -150\n-194 -110 -202 -117 -221 -160 l-19 -45 -20 25 c-11 14 -25 37 -31 53 -5 15\n-19 32 -29 38 -22 11 -26 68 -7 87 17 17 -1 34 -95 87 -71 40 -85 45 -102 34\n-72 -45 -72 -45 -98 -21 -13 12 -28 22 -34 22 -6 0 -28 12 -49 26 -52 35 -99\n34 -168 -6 -94 -53 -153 -139 -163 -236 -3 -30 -8 -54 -11 -54 -4 0 -69 37\n-146 82 l-139 82 -36 -21 c-20 -11 -148 -84 -285 -163 -137 -78 -256 -144\n-264 -148 -14 -5 -155 -85 -199 -113 l-23 -14 0 -723 0 -722 25 -12 c31 -14\n31 -22 0 -42 l-25 -16 0 -624 0 -623 25 -11 c32 -15 32 -25 0 -42 -36 -19 -31\n-35 17 -62 24 -14 124 -71 223 -128 99 -57 200 -114 225 -128 38 -21 302 -172\n725 -416 153 -88 220 -130 238 -146 8 -8 93 -59 189 -113 351 -200 783 -449\n809 -468 15 -10 29 -19 31 -19 3 0 70 -37 149 -83 79 -46 230 -132 334 -191\n105 -60 275 -158 380 -218 139 -81 194 -107 205 -101 8 5 74 43 145 83 72 40\n252 143 400 229 149 85 322 184 385 219 63 36 126 72 140 82 23 16 82 51 390\n228 52 30 149 85 215 122 214 119 390 223 396 232 7 11 112 75 194 119 32 17\n75 41 95 54 48 30 497 289 590 340 41 23 143 81 225 129 83 48 328 190 545\n315 217 125 396 235 398 243 2 9 -12 24 -33 36 -32 19 -35 25 -35 67 0 25 4\n45 9 45 12 0 66 49 60 54 -2 2 -80 47 -174 101 -93 53 -174 101 -178 105 -5 4\n3 29 17 54 21 38 26 60 26 116 0 57 4 76 24 105 14 20 28 55 31 79 14 93 -51\n238 -138 307 -61 49 -110 63 -171 49 -25 -5 -62 -9 -83 -9 -37 1 -133 -43\n-133 -61 0 -4 -20 -20 -45 -34 l-44 -27 -36 23 -35 23 0 221 0 222 30 12 c94\n39 94 221 0 260 l-30 12 0 154 c0 94 4 154 10 154 5 0 12 -11 16 -25 6 -24 66\n-65 95 -65 6 0 37 17 69 38 48 33 69 40 127 45 73 7 84 12 285 128 43 24 81\n52 84 62 3 9 10 17 16 17 5 0 23 9 39 21 29 20 29 23 25 85 -2 36 -9 71 -16\n78 -9 11 -7 16 9 21 13 4 22 18 26 38 3 18 4 481 3 1030 l-3 998 -130 75 c-71\n42 -164 94 -205 117 -41 22 -120 68 -175 102 -55 34 -185 110 -290 170 -104\n59 -283 161 -396 227 -113 65 -212 118 -220 118 -8 -1 -48 -21 -89 -46z m477\n-188 c63 -34 411 -236 458 -264 28 -17 159 -93 292 -169 134 -76 242 -142 240\n-147 -4 -13 -429 -256 -448 -256 -6 0 -110 58 -232 129 -122 70 -249 143 -282\n161 -59 32 -252 143 -370 213 -124 74 -283 166 -370 215 -146 82 -142 71 -39\n131 49 28 151 87 228 130 l138 79 179 -103 c98 -57 191 -110 206 -119z m-642\n-188 c88 -50 167 -96 175 -103 8 -7 72 -45 143 -84 70 -40 125 -77 121 -82 -4\n-6 -14 -5 -28 4 -12 8 -78 47 -146 87 -69 39 -161 93 -205 119 -44 26 -130 76\n-192 111 -62 35 -110 67 -107 72 3 5 22 -1 42 -13 21 -12 109 -62 197 -111z\nm-136 21 c58 -34 176 -103 261 -154 85 -50 185 -109 223 -129 l67 -38 0 -489\n0 -488 -34 22 c-18 12 -42 27 -52 34 -18 11 -17 14 14 40 31 27 32 30 32 106\n0 86 5 80 -107 139 -42 23 -43 23 -78 4 l-35 -19 0 -84 c0 -45 -2 -83 -5 -83\n-2 0 -18 8 -35 18 l-30 19 24 11 c30 13 37 41 20 80 -17 42 -56 67 -83 52 -11\n-6 -25 -19 -31 -30 -6 -11 -18 -20 -27 -20 -15 0 -15 2 2 13 15 12 18 28 17\n120 -1 90 2 109 19 130 10 14 19 32 19 41 0 11 9 16 26 16 32 0 60 15 68 35 9\n24 -19 81 -47 100 -28 18 -58 10 -76 -23 -8 -12 -10 15 -11 96 0 95 3 118 18\n140 10 15 21 34 25 43 3 11 13 15 29 12 62 -11 83 65 33 117 -34 35 -57 38\n-86 9 l-20 -20 4 31 c6 37 6 37 -106 101 -66 37 -92 47 -105 40 -26 -15 -52 5\n-52 39 0 17 3 30 7 30 4 0 54 -28 112 -61z m-52 -114 c9 -25 -4 -29 -17 -6 -7\n15 -7 21 0 21 6 0 13 -7 17 -15z m-27 -25 c0 -5 -2 -10 -4 -10 -3 0 -8 5 -11\n10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m120 -37 c0 -13 -3 -13 -15 -3 -8 7 -15\n16 -15 21 0 5 7 6 15 3 8 -4 15 -13 15 -21z m-140 -278 c0 -183 -4 -285 -10\n-285 -6 0 -10 102 -10 285 0 183 4 285 10 285 6 0 10 -102 10 -285z m213 234\nc46 -21 59 -89 19 -104 -9 -3 -13 -3 -10 1 7 7 -1 19 -45 67 -22 23 -25 32\n-15 38 17 11 23 11 51 -2z m-34 -65 c6 -14 11 -26 11 -27 0 -1 -11 -2 -25 -2\n-18 0 -28 7 -31 22 -12 47 24 53 45 7z m666 -91 c39 -22 175 -100 303 -173\n127 -73 232 -137 232 -142 0 -15 -7 -11 -233 118 -114 66 -261 150 -327 187\n-66 38 -117 73 -114 78 3 6 19 2 37 -9 18 -11 64 -37 102 -59z m-716 -102 c0\n-76 -5 -144 -10 -152 -5 -8 -9 48 -9 144 0 107 3 156 10 152 7 -4 10 -58 9\n-144z m913 -67 c150 -86 281 -163 291 -172 9 -8 17 -28 17 -44 0 -26 -2 -28\n-21 -18 -34 19 -49 5 -49 -44 0 -38 5 -48 35 -75 l35 -30 0 -296 c0 -162 -4\n-295 -8 -295 -4 0 -13 5 -19 11 -23 23 -43 2 -43 -45 0 -38 5 -48 35 -75 19\n-17 35 -40 35 -52 0 -21 0 -21 -42 4 -24 13 -126 72 -228 130 -102 58 -205\n126 -230 149 -42 40 -102 68 -144 68 -15 0 -16 43 -16 490 l0 490 39 -20 c22\n-11 163 -90 313 -176z m838 -403 l-5 -480 -60 -37 c-33 -20 -121 -70 -195\n-111 -74 -42 -144 -82 -155 -89 -11 -8 -23 -14 -27 -14 -4 0 -7 222 -7 493 l0\n493 87 49 c48 27 148 84 222 126 100 57 136 74 140 64 3 -8 3 -230 0 -494z\nm-1637 297 c17 -22 19 -33 11 -55 -5 -14 -15 -28 -23 -31 -8 -3 -11 0 -7 7 4\n6 2 11 -3 11 -6 0 -11 6 -11 13 0 7 -13 26 -30 42 -34 33 -30 47 12 43 20 -2\n38 -13 51 -30z m-75 -20 c5 -7 13 -23 16 -35 6 -18 4 -21 -16 -16 -26 7 -38\n21 -38 46 0 20 23 23 38 5z m1229 -110 c-2 -13 -4 -3 -4 22 0 25 2 35 4 23 2\n-13 2 -33 0 -45z m-1272 32 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2 10 4\n10 3 0 8 -4 11 -10z m-126 -133 c8 -20 17 -24 54 -24 37 -1 46 2 50 19 3 11\n10 17 16 14 6 -4 8 -12 5 -19 -5 -14 30 -57 46 -57 6 0 10 -13 10 -30 0 -41\n-18 -38 -115 18 -66 39 -81 52 -83 75 -4 33 5 35 17 4z m1398 -494 c-1 -87 -3\n-16 -3 157 0 173 2 244 3 158 2 -87 2 -229 0 -315z m-871 388 c45 -28 46 -29\n25 -40 -18 -10 -29 -7 -69 15 -61 35 -59 34 -42 44 23 15 37 12 86 -19z m-300\n-49 c13 -8 37 -52 29 -52 -12 0 -84 40 -90 50 -7 12 44 14 61 2z m349 -2 c-3\n-5 -12 -10 -18 -10 -7 0 -6 4 3 10 19 12 23 12 15 0z m-1153 -72 c70 -40 128\n-76 128 -80 0 -4 -33 -25 -72 -48 -40 -23 -107 -62 -148 -87 -86 -52 -93 -51\n-128 22 -22 46 -22 49 -7 88 9 22 27 54 41 70 13 16 27 41 30 55 9 42 13 52\n21 52 3 0 64 -33 135 -72z m1168 -1 c0 -41 -4 -55 -20 -65 -19 -12 -20 -10\n-20 46 0 61 4 72 27 72 9 0 13 -15 13 -53z m-143 11 c-3 -8 -6 -5 -6 6 -1 11\n2 17 5 13 3 -3 4 -12 1 -19z m43 -19 c0 -11 -4 -18 -10 -14 -5 3 -7 12 -3 20\n7 21 13 19 13 -6z m-1710 -64 c-11 -13 -9 -21 9 -45 l21 -30 -35 18 c-40 20\n-42 25 -15 52 24 24 38 27 20 5z m70 -76 c0 -5 -4 -9 -10 -9 -5 0 -10 7 -10\n16 0 8 5 12 10 9 6 -3 10 -10 10 -16z m-107 -26 c-11 -10 -32 -36 -47 -57 -14\n-21 -26 -32 -26 -24 0 23 58 98 77 98 13 0 13 -3 -4 -17z m32 -33 c-3 -5 -15\n-15 -26 -20 -15 -9 -19 -7 -19 6 0 10 5 14 15 11 8 -4 17 -2 20 3 4 6 8 10 11\n10 3 0 2 -4 -1 -10z m25 -29 c0 -17 -25 -30 -40 -20 -13 8 -13 10 0 19 19 12\n40 13 40 1z m-86 -36 c-6 -16 -24 -21 -24 -7 0 11 11 22 21 22 5 0 6 -7 3 -15z\nm6 -39 c0 -2 -7 -7 -16 -10 -8 -3 -12 -2 -9 4 6 10 25 14 25 6z m-1822 -50\nc45 -23 53 -63 18 -92 -53 -46 -137 -53 -212 -18 -101 48 -26 139 107 130 31\n-2 70 -11 87 -20z m3104 -136 c2 -97 -1 -149 -7 -147 -13 5 -19 297 -6 297 6\n0 11 -61 13 -150z m1881 -342 l-2 -493 -43 -26 c-85 -51 -375 -216 -400 -227\n-4 -2 -7 217 -7 487 l1 491 41 28 c23 16 76 47 117 69 41 22 122 68 180 102\n58 33 107 61 110 61 3 0 4 -222 3 -492z m-1923 348 c0 -79 -4 -137 -10 -141\n-5 -3 -10 -28 -10 -55 0 -27 5 -52 10 -55 6 -3 10 -26 10 -49 0 -39 3 -45 30\n-56 27 -11 30 -17 30 -54 0 -33 6 -48 28 -68 15 -14 35 -28 45 -31 9 -4 22\n-18 27 -31 21 -55 94 -63 135 -14 l27 32 37 -20 c271 -152 360 -208 351 -223\n-5 -9 -39 -32 -77 -52 l-68 -36 0 -61 c0 -34 -2 -62 -5 -62 -11 0 -57 67 -63\n92 -15 60 -92 118 -157 118 -18 0 -53 -7 -79 -16 l-46 -16 -114 65 -115 66 -2\n47 c-4 56 -22 86 -75 121 -36 24 -50 26 -141 28 -69 1 -103 6 -106 14 -2 6\n-15 25 -28 40 -13 16 -24 36 -24 45 0 24 -74 93 -108 101 -23 5 -31 13 -36 37\n-12 62 -3 73 147 157 78 43 194 109 256 145 63 36 119 66 123 66 4 0 8 -60 8\n-134z m-3002 99 c-3 -3 -9 2 -12 12 -6 14 -5 15 5 6 7 -7 10 -15 7 -18z m4185\n-117 c197 -114 207 -121 207 -150 0 -25 -3 -29 -17 -23 -41 17 -48 11 -51 -38\n-3 -44 0 -51 32 -82 l36 -34 0 -296 0 -296 -21 11 c-33 18 -49 5 -49 -41 0\n-34 6 -47 35 -76 32 -32 46 -63 28 -63 -5 0 -32 14 -60 30 -49 28 -53 33 -53\n68 0 21 -6 47 -14 58 -22 31 -17 79 8 90 18 8 21 19 24 88 2 54 -1 82 -9 87\n-8 5 -12 30 -10 72 3 80 -14 117 -69 153 -32 22 -40 33 -40 58 0 17 -3 42 -7\n55 l-6 24 55 -32 c51 -29 58 -30 72 -15 12 11 16 35 16 89 0 73 0 73 -36 95\n-33 21 -34 23 -18 41 14 15 15 24 6 43 -17 37 -44 48 -71 29 -14 -9 -21 -22\n-18 -33 3 -12 -2 -20 -14 -23 -13 -3 -19 -16 -21 -46 l-3 -40 -40 76 c-22 42\n-49 87 -61 100 -15 16 -19 31 -16 53 5 37 -23 74 -50 67 -14 -4 -18 1 -18 19\n0 30 -22 40 253 -118z m-4498 98 c0 -19 -3 -32 -7 -29 -14 8 -8 63 6 63 1 0 1\n-15 1 -34z m3485 -59 c0 -29 -5 -59 -10 -67 -7 -10 -10 7 -10 58 0 46 4 71 10\n67 6 -3 10 -30 10 -58z m-3178 21 c-8 -8 -9 -4 -5 13 4 13 8 18 11 10 2 -7 -1\n-18 -6 -23z m273 -60 c19 -18 37 -46 40 -63 6 -26 5 -28 -7 -14 -23 27 -58 41\n-89 34 -17 -4 -29 -2 -29 3 0 6 -12 24 -26 41 l-26 31 51 0 c44 0 56 -5 86\n-32z m-138 -10 c39 -44 36 -54 -29 -88 l-60 -32 -24 28 c-13 16 -23 35 -24 41\n0 11 94 73 111 73 3 0 15 -10 26 -22z m2025 -6 c13 -5 -14 -25 -100 -74 -64\n-36 -123 -68 -131 -70 -8 -2 -23 -11 -33 -20 -18 -18 -58 -25 -58 -10 0 13 40\n33 52 26 6 -4 8 -3 5 3 -8 13 41 36 55 27 6 -4 8 -2 5 4 -6 9 106 79 136 85 7\n1 18 10 25 20 14 18 18 19 44 9z m1122 -17 c22 -23 28 -52 16 -76 -12 -21 -12\n-21 -33 7 -12 15 -32 38 -44 49 -13 12 -20 25 -16 28 12 13 61 7 77 -8z m1163\n-32 c-3 -10 -5 -2 -5 17 0 19 2 27 5 18 2 -10 2 -26 0 -35z m-4639 10 c4 -27\n2 -27 -42 -9 -53 22 -55 38 -4 34 36 -2 44 -7 46 -25z m162 18 c0 -7 -70 -41\n-85 -41 -7 0 -6 36 2 43 10 10 83 8 83 -2z m3270 -72 c0 -11 -3 -11 -34 1 -25\n9 -35 38 -19 54 8 8 53 -39 53 -55z m280 -6 c0 -6 11 -24 24 -40 15 -17 26\n-45 28 -68 3 -35 8 -43 45 -63 24 -13 47 -21 53 -17 5 3 10 24 10 46 0 21 5\n39 10 39 6 0 10 -85 10 -235 0 -129 -2 -235 -5 -235 -6 0 -105 61 -105 65 0 2\n16 12 35 24 l35 20 0 80 0 80 -72 46 -72 47 -35 -20 -36 -21 -3 -85 -3 -86\n-31 16 -32 17 24 19 c33 27 31 71 -5 108 -16 17 -36 30 -44 30 -23 -1 -51 -25\n-51 -44 0 -10 -8 -16 -22 -16 -21 1 -21 2 -5 11 14 9 17 26 17 120 0 96 3 114\n20 136 11 14 20 32 20 39 0 9 11 14 30 14 17 0 38 8 48 19 16 17 18 17 64 -8\n27 -14 48 -31 48 -38z m-3509 -10 c8 -23 9 -22 -73 -72 l-38 -23 0 36 c0 31 4\n38 34 50 18 8 37 19 41 26 10 16 27 8 36 -17z m135 -58 c-33 -30 -36 -38 -36\n-85 0 -47 4 -56 35 -86 32 -29 47 -64 28 -64 -23 1 -208 118 -211 134 -8 41\n208 191 216 150 2 -9 -12 -31 -32 -49z m4301 13 c-2 -13 -4 -5 -4 17 -1 22 1\n32 4 23 2 -10 2 -28 0 -40z m-1267 21 c0 -6 -4 -7 -10 -4 -5 3 -10 11 -10 16\n0 6 5 7 10 4 6 -3 10 -11 10 -16z m1070 -117 l0 -53 -42 23 c-42 23 -43 25\n-46 81 l-3 57 45 -27 c45 -27 46 -29 46 -81z m-3866 59 c16 -18 16 -18 -9 -14\n-25 5 -31 14 -18 26 9 9 8 10 27 -12z m-210 0 c3 -5 -5 -11 -19 -13 -24 -5\n-32 2 -18 15 9 10 31 9 37 -2z m3599 -8 c3 -10 5 -51 6 -92 1 -100 32 -149 67\n-103 12 16 13 16 14 0 0 -9 -8 -19 -18 -22 -10 -4 -33 -21 -51 -40 -38 -39\n-50 -97 -32 -160 8 -31 7 -43 -4 -60 -13 -18 -15 9 -15 237 0 216 2 257 14\n257 8 0 17 -8 19 -17z m-598 -13 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2\n10 4 10 3 0 8 -4 11 -10z m-765 -11 c0 -15 -19 -49 -29 -49 -4 0 -6 14 -3 30\n4 27 32 44 32 19z m-3561 -16 c33 -19 40 -33 17 -33 -7 0 -30 -12 -51 -26 -27\n-18 -36 -21 -31 -9 3 9 2 14 -3 10 -5 -3 -17 2 -26 11 -9 9 -24 14 -35 11 -29\n-8 -25 0 18 27 45 30 70 32 111 9z m4206 -29 c0 -16 8 -19 47 -20 38 -1 47 2\n51 18 3 11 10 17 16 13 6 -3 9 -10 7 -14 -8 -12 23 -51 40 -51 9 0 14 -11 14\n-35 0 -40 -7 -42 -58 -15 -116 62 -137 78 -140 105 -3 19 0 26 10 23 7 -3 13\n-13 13 -24z m-755 8 c0 -5 -9 -17 -20 -27 -23 -21 -26 -14 -8 15 13 20 28 27\n28 12z m-2084 -16 c27 -20 13 -28 -25 -15 -24 9 -29 14 -19 20 18 12 21 11 44\n-5z m142 5 c10 -6 5 -11 -19 -20 -40 -14 -39 -14 -39 3 0 22 34 32 58 17z\nm3470 -55 c2 -44 0 -57 -10 -54 -8 3 -14 26 -16 62 -2 44 0 57 10 54 8 -3 14\n-26 16 -62z m-4697 27 c27 -16 49 -30 49 -33 0 -3 -13 -13 -29 -23 -27 -16\n-29 -16 -33 1 -3 10 -24 28 -47 39 -23 12 -37 24 -32 28 6 3 16 3 23 -1 7 -4\n8 -3 4 4 -12 20 13 14 65 -15z m639 7 c0 -5 -13 -16 -30 -25 -40 -21 -50 -43\n-50 -113 0 -51 4 -63 26 -85 14 -15 42 -29 60 -33 46 -8 53 -24 12 -24 -31 0\n-48 -8 -110 -53 -25 -17 -26 -17 -151 55 -69 40 -126 75 -126 78 0 6 350 208\n362 209 4 1 7 -3 7 -9z m295 -66 c63 -36 115 -67 115 -69 0 -2 -48 -31 -107\n-64 -106 -60 -148 -71 -95 -26 24 21 27 30 27 89 0 60 -2 67 -34 100 -19 20\n-32 36 -28 36 4 0 59 -30 122 -66z m4382 -401 c-1 -87 -3 -16 -3 157 0 173 2\n244 3 158 2 -87 2 -229 0 -315z m-5413 394 c14 -9 33 -17 43 -17 14 -1 12 -4\n-7 -15 -23 -12 -29 -11 -70 12 -25 14 -47 27 -49 29 -2 2 7 12 20 23 22 18 24\n18 31 2 3 -10 18 -25 32 -34z m726 28 c0 -9 -9 -15 -22 -15 -22 1 -23 1 -4 15\n25 19 26 19 26 0z m-866 -10 c-7 -17 -20 -20 -28 -6 -4 5 0 12 6 14 23 9 28 7\n22 -8z m1096 -39 c-1 -19 -2 -19 -11 -3 -5 9 -17 17 -24 17 -18 0 -20 17 -2\n23 18 6 37 -12 37 -37z m2245 4 c-9 -18 -19 -30 -21 -27 -3 3 2 19 11 37 9 18\n19 30 21 27 3 -3 -2 -19 -11 -37z m1341 14 c41 -24 43 -27 27 -39 -15 -11 -24\n-10 -58 7 -59 30 -69 39 -53 49 21 14 37 10 84 -17z m-2658 -2 c2 -7 -3 -12\n-12 -12 -9 0 -16 7 -16 16 0 17 22 14 28 -4z m766 -9 c-21 -16 -40 -17 -49 -3\n-6 9 8 14 28 11 4 0 7 3 7 9 0 5 7 7 16 3 15 -6 15 -8 -2 -20z m905 -22 c26\n-32 28 -40 15 -45 -31 -12 -47 -6 -80 30 -38 40 -37 54 6 54 21 0 36 -10 59\n-39z m-1841 2 c2 -7 -4 -13 -13 -13 -9 0 -13 4 -10 10 3 5 0 7 -8 4 -8 -3 -18\n0 -22 6 -5 8 2 10 21 8 15 -2 29 -9 32 -15z m1887 -3 c10 -11 14 -20 9 -20 -5\n0 -15 9 -22 20 -7 11 -11 20 -9 20 2 0 12 -9 22 -20z m-361 -5 c-6 -16 -24\n-21 -24 -7 0 11 11 22 21 22 5 0 6 -7 3 -15z m989 -6 c29 -13 50 -54 42 -80\n-8 -23 -20 -24 -37 -3 -7 9 -25 30 -40 46 -33 35 -33 35 -10 41 9 3 18 5 19 6\n1 0 13 -4 26 -10z m-3476 -14 c9 -25 -3 -28 -36 -10 -39 20 -39 25 -1 25 18 0\n33 -6 37 -15z m1188 -18 c11 -12 26 -22 33 -23 29 -2 33 -5 26 -16 -4 -7 -3\n-8 4 -4 18 11 37 -4 21 -16 -11 -7 -9 -8 5 -4 23 8 129 -51 120 -66 -4 -7 -2\n-8 4 -4 7 4 19 3 28 -2 10 -6 13 -12 6 -16 -15 -9 -63 15 -55 27 3 6 1 7 -6 3\n-6 -4 -46 13 -92 41 -43 26 -94 56 -112 66 -17 10 -31 22 -29 28 2 7 -4 9 -13\n5 -10 -3 -13 -2 -10 5 9 14 46 1 70 -24z m1089 7 c25 -14 46 -30 46 -35 0 -16\n-94 -101 -99 -88 -7 21 -56 67 -77 74 -15 4 -32 -3 -54 -21 l-32 -27 4 24 c2\n17 20 33 68 60 36 20 72 37 81 38 9 1 37 -11 63 -25z m1561 16 c-3 -5 -12 -10\n-18 -10 -7 0 -6 4 3 10 19 12 23 12 15 0z m-3696 -9 c11 -7 9 -10 -8 -15 -11\n-3 -30 -9 -41 -12 -14 -4 -20 -1 -20 10 0 13 16 22 45 25 6 0 16 -3 24 -8z\nm3700 -117 c-21 -26 -29 -15 -29 41 0 41 4 56 18 64 15 9 17 4 20 -40 2 -29\n-2 -57 -9 -65z m-400 70 c15 -33 15 -32 -15 -26 -28 5 -40 23 -30 47 7 20 31\n9 45 -21z m-3039 -146 c0 -168 -10 -236 -24 -168 -3 18 -6 43 -6 56 0 43 -23\n74 -92 126 -38 28 -67 52 -65 55 9 8 172 102 180 102 4 1 7 -77 7 -171z m2081\n160 c68 -11 70 -12 52 -29 -16 -15 -25 -16 -68 -7 -27 5 -60 11 -72 11 -18 1\n-20 4 -12 19 11 21 11 21 100 6z m441 -14 c-12 -8 -27 -12 -32 -9 -17 10 -1\n25 28 25 l26 0 -22 -16z m785 -6 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4\n-12 1 -19z m-989 -54 c56 -45 80 -70 73 -77 -8 -8 -78 42 -185 135 -6 5 -2 8\n10 8 10 0 56 -30 102 -66z m-45 -19 l87 -70 -27 -22 c-16 -13 -31 -23 -34 -23\n-4 0 -24 16 -45 36 -22 20 -56 48 -76 61 -21 14 -38 31 -38 37 0 16 30 58 39\n54 3 -2 46 -34 94 -73z m1077 53 c0 -16 -3 -19 -11 -11 -6 6 -8 16 -5 22 11\n17 16 13 16 -11z m-3070 5 c0 -5 -7 -17 -15 -27 -15 -20 -20 -10 -9 18 6 16\n24 22 24 9z m205 -14 c-10 -15 -25 -10 -19 6 4 8 10 12 15 9 5 -3 7 -10 4 -15z\nm-1435 2 c0 -5 -12 -12 -27 -16 -14 -3 -37 -15 -51 -25 -24 -19 -48 -18 -36 2\n19 31 114 64 114 39z m1310 -20 c0 -32 -34 -81 -56 -81 -24 0 -17 58 11 85 32\n33 45 31 45 -4z m-1032 -51 c61 -35 112 -67 112 -71 0 -4 -17 -21 -38 -37\nl-37 -30 -102 57 c-56 31 -102 61 -103 68 0 22 34 84 45 81 5 -2 61 -32 123\n-68z m2248 24 c-11 -8 -27 -14 -35 -13 -11 0 -9 3 5 9 12 5 25 14 29 20 4 6\n10 8 13 5 4 -4 -2 -13 -12 -21z m204 7 c5 -11 10 -32 10 -48 0 -27 0 -27 -20\n10 -11 20 -20 41 -20 47 0 17 19 11 30 -9z m-3820 -276 c0 -157 -2 -285 -5\n-285 -2 0 -48 26 -102 57 -54 31 -126 71 -160 90 -162 88 -243 141 -226 147\n10 3 122 67 248 140 127 74 233 135 238 135 4 1 7 -127 7 -284z m361 194 l161\n-92 -31 -19 c-17 -11 -31 -25 -31 -31 0 -7 18 -25 40 -40 33 -23 40 -34 40\n-61 0 -20 -8 -40 -19 -50 -18 -16 -22 -16 -50 -2 -39 21 -49 20 -90 -5 l-34\n-20 32 -20 c17 -10 31 -20 31 -23 0 -8 -108 -84 -162 -114 l-58 -32 0 300 c0\n165 2 300 5 300 3 0 77 -41 166 -91z m4547 -54 c83 -48 152 -90 152 -94 0 -5\n-8 -15 -18 -24 -16 -14 -21 -13 -71 19 -30 18 -57 32 -59 29 -3 -2 -13 7 -24\n20 -11 14 -26 25 -35 25 -8 0 -27 8 -41 19 -15 10 -37 22 -49 25 -13 4 -23 12\n-23 17 0 5 -7 9 -15 9 -16 0 -65 39 -65 51 0 4 12 12 28 17 21 7 31 6 47 -8\n11 -10 89 -57 173 -105z m-3054 93 c19 -27 21 -62 4 -75 -7 -5 -39 -17 -70\n-26 -45 -12 -58 -13 -58 -3 0 7 -13 33 -30 57 l-29 44 67 11 c96 17 99 16 116\n-8z m1619 15 c-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z m84 1 c-3\n-3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m-1014 -11 c-7 -2 -19 -2\n-25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z m70 0 c-7 -2 -21 -2 -30 0 -10 3 -4 5\n12 5 17 0 24 -2 18 -5z m-993 -7 c0 -4 -121 -104 -167 -138 -6 -5 -14 -5 -17\n1 -3 5 33 39 80 75 78 59 104 75 104 62z m75 -81 c6 -27 0 -36 -65 -93 l-71\n-64 -42 38 c-23 21 -42 42 -42 46 0 4 38 39 85 77 l85 69 22 -22 c12 -11 25\n-34 28 -51z m557 45 c-2 -16 -8 -27 -13 -24 -13 8 -11 42 4 47 6 3 12 6 13 6\n0 1 -1 -12 -4 -29z m1308 12 c0 -19 -18 -42 -32 -42 -13 0 -9 48 5 53 22 9 27\n7 27 -11z m140 8 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0\n10 -4 10 -10z m-2530 -15 c10 -13 9 -15 -9 -15 -12 0 -21 6 -21 15 0 8 4 15 9\n15 5 0 14 -7 21 -15z m1037 -92 c-2 -21 -4 -4 -4 37 0 41 2 58 4 38 2 -21 2\n-55 0 -75z m400 85 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z\nm-1497 -3 c0 -15 -46 -32 -57 -21 -10 9 18 36 38 36 11 0 19 -7 19 -15z m831\n-17 c35 -28 50 -64 33 -80 -3 -3 -23 6 -45 20 -32 21 -39 31 -39 59 0 18 3 33\n6 33 3 0 23 -14 45 -32z m599 7 c0 -18 -4 -23 -15 -19 -8 4 -15 15 -15 25 0\n10 7 19 15 19 9 0 15 -9 15 -25z m1987 -67 c84 -131 85 -134 69 -148 -12 -9\n-22 1 -54 57 -22 37 -56 90 -76 117 -19 27 -33 53 -30 58 14 22 37 0 91 -84z\nm-7 82 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10 -4 10\n-10z m-663 -62 c-6 -32 -13 -58 -16 -58 -11 1 -37 65 -33 83 2 9 12 17 22 17\n10 0 22 5 25 11 12 19 13 5 2 -53z m739 16 c20 -25 29 -51 32 -90 2 -30 2 -54\n-1 -54 -9 0 -107 147 -107 159 0 10 16 19 37 20 7 1 24 -15 39 -35z m-3426 18\nc0 -10 -41 -35 -47 -28 -9 8 17 36 33 36 8 0 14 -3 14 -8z m2260 1 c-1 -5 -14\n-23 -30 -42 -26 -30 -28 -31 -23 -10 9 36 54 81 53 52z m1029 -52 c66 -97 103\n-163 94 -171 -15 -14 -53 -22 -53 -11 0 11 -93 163 -117 192 -10 13 -10 18 4\n32 10 9 21 17 25 17 4 0 25 -26 47 -59z m237 39 c48 -18 77 -104 55 -158 -12\n-29 -13 -29 -49 -17 -33 12 -38 18 -44 56 -4 24 -19 66 -32 92 l-24 49 35 -7\nc19 -3 46 -10 59 -15z m-3422 -12 c20 -29 20 -33 -1 -36 -73 -8 -89 -13 -105\n-32 -13 -16 -18 -40 -18 -80 0 -51 -3 -58 -25 -68 l-25 -12 0 58 c0 47 6 67\n29 103 53 84 114 112 145 67z m1398 5 c21 -25 31 -60 18 -68 -5 -3 -10 0 -10\n9 0 8 -12 28 -26 45 -18 22 -21 31 -11 31 7 0 21 -8 29 -17z m-1564 -30 c-2\n-10 -11 -19 -21 -21 -16 -3 -17 -1 -7 17 13 25 33 28 28 4z m268 -30 c-7 -7\n-66 26 -66 37 0 5 16 0 35 -12 20 -11 34 -23 31 -25z m4718 31 c3 -9 6 -29 6\n-46 0 -35 -21 -34 -30 3 -11 44 9 81 24 43z m-5059 -35 c0 -15 -7 -25 -17 -27\n-13 -3 -18 3 -18 21 0 13 3 27 7 31 13 12 28 -1 28 -25z m-418 5 c2 -6 -10\n-17 -27 -24 -16 -7 -30 -19 -30 -26 0 -18 -3 -18 -40 5 l-31 18 33 22 c34 22\n89 25 95 5z m2008 6 c-3 -5 -12 -10 -18 -10 -7 0 -6 4 3 10 19 12 23 12 15 0z\nm-541 -26 c9 -24 2 -26 -12 -4 -7 11 -8 20 -3 20 5 0 12 -7 15 -16z m1336 -19\nc0 -5 -5 -3 -10 5 -5 8 -10 20 -10 25 0 6 5 3 10 -5 5 -8 10 -19 10 -25z\nm1438 -10 l4 -40 -26 38 c-32 46 -32 49 -3 45 18 -2 23 -10 25 -43z m-3775 20\nc-3 -9 -8 -14 -10 -11 -3 3 -2 9 2 15 9 16 15 13 8 -4z m1184 -7 c-3 -8 -6 -5\n-6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m2559 -40 c18 -34 17 -86 0 -117 l-14\n-25 -18 35 c-13 23 -19 54 -19 101 0 64 1 66 19 50 10 -9 24 -29 32 -44z\nm-1456 38 c0 -8 -3 -16 -7 -18 -5 -1 -16 -20 -25 -40 -20 -43 -43 -53 -28 -13\n27 70 60 110 60 71z m305 4 c19 -31 -73 -193 -93 -165 -4 6 -24 19 -44 29\nl-37 19 17 30 c40 69 136 122 157 87z m-3055 -10 c0 -5 -8 -10 -17 -10 -15 0\n-16 2 -3 10 19 12 20 12 20 0z m855 -49 c-7 -14 -22 -35 -32 -46 -11 -11 -28\n-42 -38 -68 -10 -26 -22 -47 -26 -47 -5 0 -9 -7 -9 -15 0 -18 -14 -19 -41 -5\n-18 10 -17 13 17 63 19 28 51 80 71 115 34 60 36 62 54 46 16 -15 17 -19 4\n-43z m745 38 c18 -33 7 -41 -27 -17 -39 28 -41 38 -8 38 14 0 29 -8 35 -21z\nm520 -25 c22 -50 24 -64 12 -64 -9 0 -52 84 -52 100 0 26 23 5 40 -36z m1118\n17 c3 -8 -1 -12 -9 -9 -7 2 -15 10 -17 17 -3 8 1 12 9 9 7 -2 15 -10 17 -17z\nm1702 9 c-8 -5 -22 -10 -30 -10 -13 0 -13 1 0 10 8 5 22 10 30 10 13 0 13 -1\n0 -10z m131 -17 c-8 -15 -10 -15 -11 -2 0 17 10 32 18 25 2 -3 -1 -13 -7 -23z\nm-1541 -33 c4 -19 12 -25 33 -25 15 -1 35 -8 44 -18 15 -14 15 -20 3 -42 -13\n-24 -12 -28 16 -50 l29 -24 -18 -31 c-9 -18 -15 -35 -12 -40 3 -4 -1 -13 -9\n-19 -12 -10 -15 -3 -21 41 -8 53 -22 77 -108 177 -40 47 -37 63 13 58 18 -1\n26 -9 30 -27z m-779 -21 c-12 -19 -21 -30 -21 -26 0 14 31 69 36 64 3 -3 -4\n-20 -15 -38z m333 16 c-4 -8 -10 -13 -15 -10 -4 3 -6 12 -3 20 4 8 10 13 15\n10 4 -3 6 -12 3 -20z m-999 -15 c17 -33 19 -50 6 -50 -5 0 -15 15 -22 33 -7\n17 -14 35 -17 40 -2 4 1 7 7 7 6 0 17 -13 26 -30z m1414 -46 c39 -44 82 -136\n80 -172 0 -9 -10 10 -23 44 -27 74 -52 110 -114 165 -39 35 -42 39 -16 26 18\n-9 50 -37 73 -63z m1554 56 c-3 -11 -9 -17 -14 -15 -10 7 -1 35 11 35 5 0 6\n-9 3 -20z m-3424 -85 c41 -44 80 -107 106 -167 25 -61 9 -43 -27 29 -31 64\n-120 167 -178 207 -14 9 -5 7 18 -6 24 -12 61 -41 81 -63z m1848 6 c27 -35 56\n-92 50 -97 -2 -3 -10 10 -18 28 -7 18 -36 57 -64 87 -36 40 -41 48 -19 32 18\n-13 41 -35 51 -50z m2653 61 c0 -10 -44 -32 -63 -32 -7 0 2 9 18 19 34 22 45\n25 45 13z m-2104 -115 c17 -71 24 -121 19 -133 -5 -14 -16 13 -40 101 -22 82\n-29 124 -22 133 5 6 11 12 12 12 2 0 15 -51 31 -113z m680 73 c15 -22 25 -42\n23 -44 -12 -10 -49 -16 -49 -7 0 5 -13 18 -30 28 -42 24 -42 63 0 63 24 0 35\n-8 56 -40z m-4366 10 c0 -10 -9 -24 -20 -30 -16 -8 -20 -8 -20 4 0 8 -3 21 -6\n30 -5 12 0 16 20 16 19 0 26 -5 26 -20z m1849 16 c-10 -9 -89 -46 -89 -41 0 6\n72 44 84 45 5 0 7 -2 5 -4z m1017 -4 c6 -4 10 -36 10 -75 -1 -56 -4 -68 -19\n-73 -23 -7 -89 4 -83 15 3 4 -21 20 -53 36 -50 26 -57 32 -47 47 10 16 12 16\n29 -3 23 -25 49 -21 62 9 7 16 18 22 42 22 23 0 33 5 33 15 0 16 9 19 26 7z\nm-834 -34 c-7 -7 -12 -8 -12 -2 0 6 3 14 7 17 3 4 9 5 12 2 2 -3 -1 -11 -7\n-17z m58 15 c0 -5 -7 -17 -15 -27 -15 -20 -15 -20 -15 0 0 12 3 24 7 27 9 9\n23 9 23 0z m3709 -17 c7 -8 11 -26 9 -40 -3 -24 -4 -24 -25 14 -15 28 -18 40\n-8 40 7 0 18 -6 24 -14z m-6302 -9 c19 -11 20 -14 8 -31 -13 -17 -18 -17 -45\n-6 -34 14 -38 25 -12 39 21 13 22 13 49 -2z m4412 -74 c2 -63 -23 -88 -27 -26\n-2 20 -5 40 -8 44 -2 4 1 20 8 35 l13 27 6 -24 c4 -13 7 -38 8 -56z m1771 13\nc0 -9 -9 -12 -26 -8 -18 3 -40 -6 -77 -30 -117 -78 -122 -80 -131 -45 -7 29\n10 45 109 101 l80 46 23 -26 c12 -14 22 -31 22 -38z m-3860 29 c0 -17 -6 -25\n-17 -25 -13 0 -14 3 -6 11 6 6 9 18 6 25 -3 8 0 14 6 14 6 0 11 -11 11 -25z\nm-1629 -21 c19 -22 -17 -29 -57 -11 -35 17 -43 32 -21 40 17 6 63 -11 78 -29z\nm552 2 c-28 -35 -52 -51 -61 -42 -7 7 64 76 78 76 7 0 -1 -15 -17 -34z m-1176\n13 c7 -7 17 -8 29 -1 15 8 37 -1 104 -39 69 -40 85 -53 87 -74 1 -14 -1 -24\n-5 -22 -37 19 -242 141 -242 143 0 8 17 3 27 -7z m1206 -16 c-10 -10 -25 -25\n-33 -33 -14 -14 -14 -14 -5 0 17 28 38 50 47 50 5 0 1 -8 -9 -17z m3717 2\nc-13 -16 -50 -21 -50 -7 0 15 13 22 38 22 21 0 22 -2 12 -15z m-4225 -27 c-3\n-13 -15 -30 -27 -37 -17 -11 -23 -10 -36 3 -9 8 -14 17 -11 19 18 14 74 45 77\n43 2 -2 0 -14 -3 -28z m4353 10 c-4 -27 -28 -36 -28 -10 0 20 8 32 22 32 5 0\n8 -10 6 -22z m-6048 -62 c30 -16 96 -52 145 -80 50 -29 142 -82 205 -118 l115\n-66 3 -253 2 -254 -232 -135 c-236 -137 -352 -200 -369 -200 -10 0 -13 1162\n-3 1173 3 3 23 -4 43 -17 20 -12 61 -35 91 -50z m1573 3 c-7 -15 -51 -136 -97\n-270 -117 -338 -99 -302 -136 -281 -25 14 -30 22 -26 42 4 22 116 351 177 521\nl21 56 37 -20 c36 -20 37 -22 24 -48z m1017 61 c18 0 82 -64 101 -101 17 -35\n27 -90 13 -76 -3 3 -24 -5 -45 -19 l-40 -25 -37 43 c-20 24 -56 61 -79 82 -24\n22 -43 43 -43 48 0 12 93 58 108 53 8 -3 18 -5 22 -5z m1390 -5 c18 -10 20\n-14 8 -15 -25 0 -88 -40 -88 -56 0 -10 -6 -9 -30 4 -16 9 -30 19 -30 22 0 7\n93 59 105 59 6 0 21 -6 35 -14z m-1562 -47 c68 -51 75 -63 41 -70 -21 -4 -152\n99 -144 113 12 18 34 9 103 -43z m2028 14 c-4 -3 -14 2 -24 12 -16 18 -16 18\n6 6 13 -6 21 -14 18 -18z m943 18 c13 -7 19 -21 19 -50 1 -54 29 -100 78 -127\n33 -19 54 -23 140 -23 l102 0 13 -32 c7 -18 22 -45 33 -59 12 -15 29 -41 39\n-59 9 -17 31 -37 47 -43 17 -6 30 -16 30 -23 0 -6 8 -18 18 -27 25 -23 121\n-15 168 13 29 16 39 18 57 9 41 -21 57 -42 57 -74 0 -26 -6 -34 -35 -48 -45\n-21 -67 -57 -72 -115 -5 -61 20 -110 69 -137 l38 -20 0 -220 0 -220 -39 -22\nc-52 -30 -75 -80 -68 -148 l5 -51 -53 -32 c-59 -36 -71 -38 -94 -19 -16 14\n-166 100 -427 247 l-132 74 -6 356 c-3 195 -8 469 -11 608 -3 138 -2 252 1\n252 3 0 13 -4 23 -10z m-3962 -16 c3 -10 -4 -26 -21 -42 -29 -29 -35 -17 -16\n32 11 29 28 34 37 10z m924 -39 c38 -31 69 -59 69 -63 -1 -4 -21 -22 -45 -39\n-33 -25 -46 -30 -52 -20 -14 22 -96 87 -104 82 -18 -12 12 58 33 75 13 11 25\n19 27 20 2 0 35 -25 72 -55z m3584 35 c-10 -11 -20 -18 -23 -15 -7 6 18 35 31\n35 5 0 2 -9 -8 -20z m832 -27 c-3 -10 -5 -2 -5 17 0 19 2 27 5 18 2 -10 2 -26\n0 -35z m353 42 c0 -2 -18 -14 -40 -25 -22 -11 -40 -18 -40 -15 0 2 17 13 38\n24 42 23 42 23 42 16z m-3052 -33 c10 -7 0 -17 -38 -41 -48 -29 -52 -30 -78\n-17 -20 11 -22 15 -9 16 26 0 88 43 82 58 -5 12 7 8 43 -16z m2575 -2 c26 -16\n47 -34 47 -39 0 -8 -53 6 -77 22 -6 4 -13 4 -16 0 -2 -5 -2 -3 -1 4 2 7 -1 15\n-6 18 -12 7 -13 25 -2 25 4 0 29 -13 55 -30z m-5523 -93 c53 -31 97 -63 99\n-73 3 -16 0 -16 -30 2 -19 11 -92 53 -162 94 -85 49 -124 76 -115 81 13 8 20\n5 208 -104z m980 80 c-4 -19 -12 -42 -19 -53 -10 -16 -10 -15 -5 11 9 38 22\n75 28 75 2 0 1 -15 -4 -33z m-480 -7 c0 -11 -12 -50 -26 -87 -14 -37 -32 -88\n-41 -113 -9 -25 -26 -59 -39 -77 -14 -19 -24 -46 -24 -65 0 -55 -43 -169 -70\n-187 -23 -15 -24 -15 -16 4 4 11 37 106 73 210 84 246 124 346 134 339 5 -3 9\n-14 9 -24z m1660 25 c0 -2 -13 -11 -30 -20 -38 -19 -40 -11 -2 9 31 17 32 18\n32 11z m-2417 -19 c16 -12 10 -18 -62 -60 -67 -40 -83 -46 -100 -36 -12 6 -21\n14 -21 18 0 10 140 92 155 92 6 -1 18 -7 28 -14z m3495 -14 c3 -9 -2 -13 -14\n-10 -9 1 -19 9 -22 16 -3 9 2 13 14 10 9 -1 19 -9 22 -16z m2502 13 c0 -6 -56\n-35 -67 -35 -13 1 41 40 55 40 6 0 12 -2 12 -5z m-5451 -140 c-43 -125 -103\n-207 -182 -249 -26 -14 -50 -26 -52 -26 -3 0 -5 13 -5 28 0 29 39 91 121 193\n24 30 66 84 94 120 63 80 70 62 24 -66z m2848 100 c-7 -7 -16 -10 -21 -5 -12\n12 2 30 19 24 11 -5 12 -9 2 -19z m2743 20 c0 -2 -22 -16 -50 -30 -27 -14 -50\n-23 -50 -20 0 2 21 16 48 29 53 28 52 28 52 21z m-6069 -22 c28 -17 38 -33 21\n-33 -5 0 -38 -18 -74 -40 -67 -40 -67 -40 -97 -22 -17 9 -31 19 -31 22 0 4\n139 88 148 89 2 1 17 -7 33 -16z m368 8 c16 -10 6 -31 -15 -31 -9 0 -25 5 -37\n12 -21 11 -21 11 -2 19 27 10 37 10 54 0z m4050 -335 c1 -82 -3 -126 -8 -120\n-8 7 -17 427 -10 459 5 19 16 -212 18 -339z m1203 327 c17 -15 19 -15 38 2 11\n10 23 15 26 12 4 -4 -1 -10 -11 -13 -9 -4 -31 -28 -47 -53 -19 -29 -27 -37\n-23 -21 4 14 11 29 16 35 15 15 10 23 -11 18 -26 -7 -57 16 -38 28 19 13 29\n11 50 -8z m-4905 -60 c-2 -16 -4 -5 -4 22 0 28 2 40 4 28 2 -13 2 -35 0 -50z\nm5203 57 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11 10 2 0 4 -4 4 -10z\nm-4276 -82 c31 -39 56 -75 56 -79 0 -13 -41 -32 -50 -22 -5 4 -33 42 -63 83\n-54 74 -57 89 -15 90 9 0 42 -32 72 -72z m3936 46 c0 -2 -9 0 -20 6 -11 6 -20\n13 -20 16 0 2 9 0 20 -6 11 -6 20 -13 20 -16z m-5858 -3 c57 -33 141 -80 212\n-119 37 -20 102 -58 142 -84 41 -27 77 -48 80 -48 21 0 64 -45 64 -66 0 -13\n-3 -24 -7 -24 -5 0 -53 27 -108 59 -55 32 -180 105 -277 161 -98 56 -178 106\n-178 111 0 6 27 27 37 29 1 0 17 -9 35 -19z m6188 -2 c21 -6 19 -7 -15 -8 -22\n-1 -57 -5 -77 -10 -42 -10 -46 -6 -20 19 17 18 52 17 112 -1z m-5816 -2 c16\n-12 17 -19 7 -68 -6 -30 -12 -68 -14 -86 l-2 -32 -93 51 c-51 29 -91 56 -89\n61 3 11 137 84 158 86 8 0 23 -5 33 -12z m3246 9 c0 -3 -4 -8 -10 -11 -5 -3\n-10 -1 -10 4 0 6 5 11 10 11 6 0 10 -2 10 -4z m1650 -4 c0 -5 -7 -17 -15 -28\n-15 -19 -20 -8 -9 20 6 17 24 22 24 8z m-3410 -84 l60 -82 -42 -23 c-24 -12\n-46 -22 -50 -23 -4 0 -20 20 -37 44 -16 25 -40 59 -52 75 l-23 31 29 30 c16\n16 35 30 42 30 7 0 40 -37 73 -82z m1660 57 c11 -13 10 -14 -4 -9 -9 3 -16 10\n-16 15 0 13 6 11 20 -6z m70 11 c0 -11 -19 -15 -25 -6 -3 5 1 10 9 10 9 0 16\n-2 16 -4z m997 -24 c7 -9 22 -29 33 -43 l19 -25 -102 -59 c-56 -32 -104 -61\n-107 -65 -3 -4 -49 -31 -103 -60 l-98 -52 -22 28 c-12 15 -27 34 -32 42 -7 9\n-8 38 -3 80 4 37 7 76 8 87 1 15 5 12 19 -15 23 -43 47 -65 97 -90 49 -25 90\n-25 131 0 33 19 51 64 69 163 6 38 7 39 42 32 20 -4 42 -14 49 -23z m-3617\n-37 c0 -38 -3 -45 -19 -45 -19 0 -19 2 -4 45 8 25 17 45 19 45 2 0 4 -20 4\n-45z m1874 -3 l66 -38 -39 -22 c-21 -12 -47 -34 -56 -49 -22 -33 -31 -135 -16\n-187 6 -22 9 -41 7 -43 -2 -2 -67 33 -145 79 l-142 82 68 43 c37 25 94 59 126\n76 51 28 57 35 57 64 0 18 2 33 4 33 3 0 34 -17 70 -38z m786 28 c12 -7 12\n-12 3 -21 -9 -9 -16 -9 -27 1 -26 21 -5 39 24 20z m-471 -34 c15 -8 20 -16 13\n-20 -12 -7 -52 13 -52 26 0 11 11 9 39 -6z m401 -21 c0 -5 -5 -3 -10 5 -5 8\n-10 20 -10 25 0 6 5 3 10 -5 5 -8 10 -19 10 -25z m-3582 2 c2 -10 -3 -17 -11\n-17 -18 0 -39 24 -30 34 12 12 38 2 41 -17z m583 -7 c10 -6 19 -14 19 -19 0\n-10 -138 -91 -154 -91 -6 0 -19 7 -29 14 -16 13 -11 18 60 59 91 54 79 50 104\n37z m2529 -12 c24 -13 57 -39 73 -59 25 -33 27 -39 15 -58 -11 -19 -11 -24 6\n-37 19 -13 16 -15 -16 -18 -7 -1 -17 -7 -23 -14 -7 -9 -22 4 -57 53 -27 37\n-68 78 -95 96 -27 17 -41 29 -33 28 23 -4 61 11 55 22 -11 17 30 9 75 -13z\nm600 -173 c0 -107 -3 -195 -7 -194 -5 0 -25 22 -45 49 l-38 50 0 119 0 119 43\n26 c23 14 43 25 45 26 1 0 2 -88 2 -195z m-2399 91 c-5 -30 -5 -30 -19 17 -7\n27 -10 56 -7 65 11 25 32 -43 26 -82z m2566 78 c2 -5 -11 -17 -29 -26 -55 -25\n-82 -2 -30 26 30 17 53 17 59 0z m-3727 -55 c47 -29 105 -63 130 -77 57 -32\n53 -29 47 -46 -6 -15 -60 12 -217 110 -30 19 -59 35 -64 37 -10 3 1 27 12 27\n4 0 45 -23 92 -51z m890 -31 c15 -90 38 -124 91 -138 73 -20 157 21 189 93 21\n46 25 38 34 -63 6 -63 5 -66 -27 -105 l-34 -39 -139 81 c-76 44 -166 96 -199\n114 -33 18 -62 34 -64 35 -2 2 11 21 29 43 28 36 82 65 101 55 3 -2 11 -36 19\n-76z m1020 -23 c37 -83 41 -98 29 -110 -30 -29 -40 -20 -80 75 l-40 95 22 18\nc12 9 22 17 24 17 1 0 21 -43 45 -95z m1919 -130 c40 -115 86 -245 102 -288\n16 -43 29 -83 29 -88 0 -9 -52 -39 -69 -39 -5 0 -12 15 -16 33 -3 17 -10 41\n-15 52 -11 24 -87 235 -141 394 -21 63 -37 117 -34 119 16 16 61 39 66 33 3\n-3 38 -100 78 -216z m89 98 c19 -34 62 -63 103 -69 27 -5 39 -12 43 -28 14\n-50 7 -60 -67 -101 -39 -22 -77 -41 -83 -43 -31 -8 -40 88 -27 273 7 93 8 96\n13 45 3 -30 11 -65 18 -77z m-1742 100 c19 -12 22 -18 12 -25 -10 -6 -10 -10\n2 -17 8 -6 12 -12 10 -14 -18 -14 -56 -37 -62 -37 -10 0 -11 94 -1 103 9 10\n10 9 39 -10z m-694 -52 c17 -34 17 -35 -5 -46 -28 -15 -33 -12 -57 35 -26 51\n-26 52 13 48 25 -2 36 -10 49 -37z m-71 -43 c13 -38 9 -55 -10 -43 -6 3 -11\n21 -11 39 0 19 -7 39 -15 46 -8 7 -12 17 -9 22 8 12 27 -16 45 -64z m432 -25\nc21 -52 36 -97 35 -98 -2 -2 -12 -5 -22 -7 -14 -2 -22 5 -28 27 -10 30 -30 78\n-53 127 -13 27 -4 48 20 48 5 0 27 -44 48 -97z m-598 73 c13 -9 19 -30 23 -72\n4 -59 4 -59 -16 -39 -19 19 -46 125 -32 125 3 0 14 -6 25 -14z m62 -8 c15 -19\n23 -61 16 -86 -8 -33 -20 -27 -28 16 -3 20 -9 47 -12 60 -6 24 8 30 24 10z\nm2302 -12 c10 -12 9 -20 -4 -40 -10 -14 -19 -26 -21 -26 -2 0 -4 18 -4 40 0\n42 9 50 29 26z m-3229 -6 c0 -3 -4 -11 -9 -19 -7 -11 -11 -10 -19 6 -9 15 -7\n19 9 19 10 0 19 -3 19 -6z m159 -81 c-27 -81 -39 -94 -39 -44 0 26 9 52 26 77\n15 21 29 37 30 35 2 -2 -6 -32 -17 -68z m1841 34 c0 -5 -11 -8 -24 -8 -13 0\n-22 3 -19 8 2 4 13 7 24 7 10 0 19 -3 19 -7z m-2382 -65 c59 -34 111 -65 115\n-69 7 -5 -213 -139 -229 -139 -2 0 -4 61 -4 135 0 74 2 135 5 135 3 0 54 -28\n113 -62z m2421 26 c-6 -8 -14 -14 -17 -14 -3 0 -1 5 6 12 9 9 7 15 -6 25 -15\n13 -14 13 6 3 19 -9 21 -14 11 -26z m-428 12 c5 3 9 0 9 -6 0 -6 4 -9 9 -6 5\n3 19 -3 32 -13 13 -10 46 -29 73 -43 27 -14 44 -28 39 -31 -6 -4 -27 5 -48 18\n-20 14 -59 37 -86 50 -27 14 -49 31 -48 38 0 9 2 9 6 -1 2 -6 9 -10 14 -6z\nm329 6 c0 -4 -13 -13 -30 -19 -38 -14 -39 -8 -2 11 32 18 32 18 32 8z m-1853\n-24 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m-135 -42 c160 -92\n168 -98 168 -113 0 -20 -6 -17 -152 67 -142 83 -132 76 -123 89 9 15 4 17 107\n-43z m1914 13 c3 -6 17 -9 30 -6 13 2 21 0 18 -4 -3 -5 -14 -9 -25 -9 -10 0\n-19 -6 -19 -12 0 -9 -3 -8 -9 2 -6 8 -7 18 -5 22 9 14 -13 8 -26 -7 -7 -8 -17\n-12 -22 -8 -6 3 0 12 13 19 30 16 36 17 45 3z m-1786 -14 c0 -9 -6 -12 -16 -8\n-13 5 -13 7 -2 14 17 11 18 11 18 -6z m245 -23 c-10 -10 -16 -12 -13 -7 3 6 8\n19 13 30 5 14 9 16 12 7 3 -8 -3 -21 -12 -30z m1259 -149 l-18 -28 -13 78 c-6\n43 -14 84 -16 90 -2 7 6 20 17 30 l21 19 14 -81 c13 -75 13 -82 -5 -108z m541\n177 c-3 -5 -14 -10 -23 -9 -14 0 -13 2 3 9 27 11 27 11 20 0z m95 -45 c0 -3\n-12 1 -27 8 -16 8 -33 12 -39 10 -6 -2 -11 3 -11 11 0 12 7 11 39 -5 21 -11\n38 -22 38 -24z m1087 -12 c-3 -2 -17 3 -32 13 -26 17 -26 18 -9 31 16 12 20\n10 32 -13 7 -14 11 -28 9 -31z m-365 -24 c-4 -3 -27 -17 -50 -30 -43 -23 -44\n-23 -58 -4 -8 10 -14 21 -14 24 0 3 22 18 48 33 l47 26 17 -21 c9 -12 14 -25\n10 -28z m-1902 1 c-18 -11 -22 -7 -14 14 5 13 10 14 18 6 8 -8 7 -13 -4 -20z\nm1220 14 c0 -2 -7 -4 -15 -4 -8 0 -15 4 -15 10 0 5 7 7 15 4 8 -4 15 -8 15\n-10z m-357 -18 c3 3 5 -3 4 -15 -1 -11 -2 -21 -3 -21 -2 0 -13 15 -25 33 -20\n28 -21 30 -3 14 12 -9 23 -14 27 -11z m2286 -13 c0 -34 -1 -36 -11 -16 -6 12\n-8 29 -5 37 11 27 17 18 16 -21z m-1855 -18 c2 -7 0 -18 -5 -26 -6 -10 -9 -11\n-10 -1 -1 6 -2 17 -3 23 0 5 -12 19 -26 30 l-25 21 32 -18 c18 -10 34 -23 37\n-29z m-77 29 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m1443 -53\nc0 -40 -5 -63 -15 -71 -8 -7 -15 -18 -15 -26 0 -10 -9 -8 -35 8 -32 18 -34 22\n-19 32 20 15 11 53 -14 58 -11 3 -1 13 33 31 28 14 53 26 58 27 4 0 7 -26 7\n-59z m-3385 33 c24 -16 36 -64 16 -64 -8 0 -76 35 -91 48 -6 4 30 32 42 32 5\n0 20 -7 33 -16z m1374 2 c20 -11 21 -14 7 -19 -19 -8 -68 12 -60 24 7 12 25\n11 53 -5z m-1782 -47 c60 -33 72 -43 62 -55 -14 -17 -37 -17 -68 0 -35 19 -51\n10 -51 -30 0 -19 -2 -34 -5 -34 -3 0 -40 19 -81 41 l-75 42 68 38 c37 21 70\n38 72 39 2 0 37 -18 78 -41z m1849 6 c9 -14 14 -29 10 -32 -4 -4 -9 3 -13 15\n-6 24 -19 29 -25 10 -2 -6 -10 -8 -17 -4 -9 6 -9 11 0 22 16 20 26 18 45 -11z\nm-576 -13 c0 -25 -10 -34 -91 -81 -51 -28 -94 -50 -96 -47 -2 2 2 19 10 37 11\n26 30 42 82 69 36 19 69 38 71 43 11 16 24 5 24 -21z m707 2 c-3 -4 -14 -3\n-24 0 -15 6 -15 8 -3 16 16 10 39 -4 27 -16z m63 -2 c-7 -3 -19 3 -28 13 -16\n15 -15 16 12 4 15 -7 23 -15 16 -17z m-1638 -52 c67 -38 125 -70 130 -70 4 0\n8 -9 8 -20 0 -30 15 -37 -198 87 -51 30 -90 59 -87 64 10 16 22 11 147 -61z\nm2503 60 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2 10 4 10 3 0 8 -4 11 -10z\nm1235 6 c0 -2 -7 -7 -16 -10 -8 -3 -12 -2 -9 4 6 10 25 14 25 6z m47 -12 c2\n-6 -58 -46 -134 -90 -164 -95 -153 -90 -153 -67 1 13 40 41 133 94 130 75 147\n83 154 63z m-1747 -2 c0 -4 -10 -13 -22 -21 -23 -14 -23 -14 -4 8 20 22 26 25\n26 13z m400 -34 c0 -4 -11 -2 -25 4 -27 12 -32 24 -12 31 11 4 36 -20 37 -35z\nm806 15 c-10 -10 -19 5 -10 18 6 11 8 11 12 0 2 -7 1 -15 -2 -18z m-3921 -1\nc17 -10 66 -38 110 -62 87 -46 118 -73 127 -108 l6 -23 -46 27 c-26 15 -54 31\n-62 35 -8 4 -60 34 -114 65 -90 52 -97 58 -81 70 24 18 24 18 60 -4z m2365 3\nc7 -8 8 -15 2 -15 -5 0 -15 7 -22 15 -7 8 -8 15 -2 15 5 0 15 -7 22 -15z m420\n-27 c0 -10 -17 -20 -210 -131 -143 -83 -167 -93 -187 -84 -13 6 -22 14 -21 19\n2 4 88 57 192 117 159 91 193 107 208 97 10 -6 18 -14 18 -18z m-480 1 c0 -4\n-7 -6 -15 -3 -8 4 -15 10 -15 15 0 4 7 6 15 3 8 -4 15 -10 15 -15z m334 6 c5\n-15 -68 -61 -113 -71 -15 -3 -7 4 19 16 24 11 48 26 52 33 4 7 8 8 8 4 0 -5 5\n-5 11 -2 6 5 4 11 -6 19 -15 10 -14 12 4 13 10 1 22 -5 25 -12z m-223 -12 c13\n-17 13 -17 -6 -3 -11 8 -22 16 -24 17 -2 2 0 3 6 3 6 0 17 -8 24 -17z m649\n-54 c-17 -11 -35 -19 -40 -19 -10 0 -80 40 -80 46 0 2 17 12 37 23 l37 19 38\n-26 38 -25 -30 -18z m-1830 -11 c-18 -17 -18 -48 1 -48 19 0 8 -16 -22 -33\n-18 -10 -32 -16 -33 -15 0 2 -7 13 -13 25 -7 13 -13 50 -13 83 l0 61 49 -28\nc49 -27 49 -28 31 -45z m735 -288 c4 -229 3 -342 -3 -335 -12 12 -28 657 -17\n675 4 6 8 10 10 8 1 -2 6 -158 10 -348z m-461 319 c-4 -8 1 -9 16 -4 17 5 21\n3 18 -10 -3 -16 -295 -191 -304 -182 -8 8 7 33 26 42 64 33 239 138 238 144\n-1 12 2 21 8 21 3 0 2 -5 -2 -11z m928 -36 c1 -37 3 -40 20 -30 10 7 18 17 18\n24 0 7 4 13 10 13 16 0 0 -28 -25 -44 -14 -9 -27 -16 -30 -16 -3 0 -5 23 -5\n52 0 60 9 61 12 1z m348 18 c0 -10 -17 -30 -40 -45 -23 -15 -38 -31 -35 -35 2\n-5 -22 -24 -54 -44 l-58 -35 -32 20 -32 20 118 69 c65 37 121 68 126 68 4 1 7\n-7 7 -18z m486 -6 c-11 -8 -25 -15 -30 -15 -6 0 -2 7 8 15 11 8 25 15 30 15 6\n0 2 -7 -8 -15z m91 -11 c-7 -7 -37 7 -37 17 0 6 9 5 21 -1 11 -7 19 -14 16\n-16z m-2870 -5 c30 -19 33 -23 18 -31 -20 -12 -52 -5 -80 16 -17 14 -18 17 -5\n26 21 14 28 13 67 -11z m1555 -25 c5 -21 19 -52 33 -69 l25 -30 -15 30 c-8 17\n-15 35 -15 41 0 20 41 23 76 7 29 -14 33 -20 27 -42 -3 -14 -6 -26 -7 -26 -1\n-1 -25 -8 -53 -17 l-53 -16 0 26 c0 15 -10 43 -22 62 -23 37 -31 83 -14 77 6\n-2 14 -21 18 -43z m1922 14 c-5 -8 -34 -11 -34 -4 0 2 -3 11 -6 20 -5 13 -2\n13 19 3 14 -6 23 -15 21 -19z m-2654 1 c0 -5 -7 -9 -15 -9 -8 0 -15 7 -15 15\n0 9 6 12 15 9 8 -4 15 -10 15 -15z m2004 8 c15 -11 -2 -23 -137 -105 -85 -50\n-161 -92 -168 -91 -8 0 -5 4 6 8 12 5 20 17 20 31 0 31 168 128 190 110 12\n-10 18 -10 30 0 9 7 14 19 11 25 -4 12 12 35 24 35 3 0 14 -6 24 -13z m-98 -6\nc-3 -5 -52 -35 -108 -66 -125 -70 -125 -70 -115 -60 7 8 218 134 225 135 2 0\n1 -4 -2 -9z m829 -5 c17 -12 15 -15 -27 -40 -52 -30 -64 -32 -72 -10 -9 23 -9\n23 27 44 38 24 47 24 72 6z m-3920 -66 c44 -24 98 -55 120 -70 22 -14 77 -48\n123 -74 45 -26 82 -55 82 -63 0 -15 -35 2 -185 93 -38 23 -119 70 -179 104\n-77 44 -105 65 -95 71 8 5 22 3 34 -5 11 -7 56 -32 100 -56z m-275 13 c0 -23\n9 -33 48 -55 26 -16 84 -50 129 -76 l82 -48 -232 -134 c-128 -73 -274 -158\n-325 -188 l-92 -54 -126 72 c-69 40 -144 81 -166 92 -37 18 -39 20 -21 33 10\n8 22 15 27 15 12 0 524 294 621 356 34 22 55 17 55 -13z m3589 -8 c36 -19 96\n-54 134 -78 l67 -43 -57 -33 -58 -33 -71 37 c-39 21 -91 55 -115 76 l-43 38\n26 12 c15 6 29 22 32 35 4 13 9 24 12 24 3 0 36 -16 73 -35z m-2869 0 c0 -23\n-2 -24 -20 -13 -23 15 -25 24 -7 31 23 10 27 7 27 -18z m401 -27 c50 -29 108\n-63 130 -76 21 -13 39 -30 39 -38 0 -20 -8 -18 -71 19 -162 93 -219 130 -219\n138 0 19 34 7 121 -43z m1049 -7 c0 -10 -3 -21 -7 -24 -8 -8 -33 47 -33 72 1\n23 40 -25 40 -48z m2110 40 c0 -3 -26 -21 -57 -39 -32 -18 -94 -55 -138 -82\n-44 -27 -86 -50 -92 -50 -28 0 -10 27 35 53 26 15 87 52 137 81 79 47 115 59\n115 37z m-1208 -41 c1 -28 2 -50 0 -50 -2 0 -24 12 -48 26 l-45 27 38 23 c21\n13 41 24 45 24 3 0 8 -23 10 -50z m-2604 13 c16 -9 33 -26 38 -37 5 -12 17\n-20 26 -18 21 3 149 -68 142 -80 -10 -16 -40 -7 -104 32 -36 21 -89 53 -118\n70 -29 17 -50 36 -47 41 9 14 30 11 63 -8z m1212 -73 c0 -47 -4 -80 -10 -80\n-19 0 -50 -40 -50 -64 0 -24 -2 -23 -90 26 -49 27 -90 53 -90 56 0 7 220 141\n233 142 4 0 7 -36 7 -80z m1229 66 c9 -11 4 -18 -26 -37 -53 -33 -52 -33 -74\n-13 -19 17 -18 18 18 40 44 27 66 30 82 10z m-2149 -6 c0 -5 -7 -7 -15 -4 -8\n4 -15 8 -15 10 0 2 7 4 15 4 8 0 15 -4 15 -10z m1670 -31 c0 -11 -4 -17 -10\n-14 -5 3 -10 15 -10 26 0 11 5 17 10 14 6 -3 10 -15 10 -26z m303 -13 c61 -40\n66 -46 51 -60 -8 -9 -18 -16 -21 -16 -10 0 -117 61 -135 78 -17 14 -17 16 0\n28 25 20 32 18 105 -30z m-1380 27 c3 -5 -6 -16 -18 -26 -17 -12 -26 -14 -31\n-5 -4 6 1 17 11 25 21 15 32 16 38 6z m2557 0 c0 -5 -5 -15 -10 -23 -8 -12\n-10 -11 -10 8 0 12 5 22 10 22 6 0 10 -3 10 -7z m150 -24 c-24 -19 -90 -57\n-79 -46 8 10 94 67 99 67 3 0 -6 -9 -20 -21z m-1740 -19 c0 -5 -2 -10 -4 -10\n-3 0 -8 5 -11 10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m287 -3 l23 -13 -30 -26\n-30 -26 0 39 c0 42 3 45 37 26z m807 -6 c3 -4 -50 -40 -117 -78 -67 -39 -139\n-81 -161 -93 -35 -21 -38 -22 -35 -5 3 12 42 41 99 73 216 125 205 119 214\n103z m511 -13 c-19 -11 -30 -5 -21 11 4 6 14 7 22 4 15 -5 14 -7 -1 -15z\nm-286 -94 c-19 -23 -50 -15 -128 30 l-74 44 28 14 c26 14 32 13 107 -30 63\n-36 76 -47 67 -58z m1075 -400 c3 -274 1 -468 -4 -429 -8 75 -13 942 -5 933 3\n-2 7 -229 9 -504z m-1681 481 c-3 -9 -8 -14 -10 -11 -3 3 -2 9 2 15 9 16 15\n13 8 -4z m-230 -99 c153 -88 210 -120 276 -155 96 -51 155 -101 121 -101 -11\n0 -110 55 -418 232 -148 86 -190 118 -152 118 5 0 83 -42 173 -94z m207 90 c0\n-2 -7 -7 -16 -10 -8 -3 -12 -2 -9 4 6 10 25 14 25 6z m25 -26 c-55 -33 -65\n-36 -65 -18 0 6 3 9 6 5 3 -3 25 5 47 18 23 13 47 24 52 24 6 1 -12 -13 -40\n-29z m809 24 c9 -3 16 -10 16 -14 0 -4 -62 -43 -137 -86 -76 -43 -207 -118\n-291 -166 -126 -72 -157 -86 -173 -78 -10 6 -19 14 -19 18 0 9 93 65 265 162\n72 40 166 95 210 121 80 48 100 54 129 43z m-2805 -35 c-21 -15 -87 -49 -94\n-49 -18 0 1 33 32 54 29 20 40 23 56 14 16 -8 17 -12 6 -19z m2111 0 c0 -16\n-75 -50 -97 -44 -33 8 -29 20 19 48 34 20 46 22 60 13 10 -6 18 -14 18 -17z\nm780 26 c0 -2 -10 -9 -22 -15 -22 -11 -22 -10 -4 4 21 17 26 19 26 11z m-966\n-19 c-3 -9 -12 -12 -22 -9 -15 6 -9 11 25 22 1 1 0 -5 -3 -13z m-2204 -10 c0\n-14 -29 -31 -38 -21 -6 6 18 35 29 35 5 0 9 -6 9 -14z m3490 -166 c0 -99 -3\n-180 -6 -180 -3 0 -59 32 -125 71 l-120 70 3 41 c3 40 4 41 118 108 63 37 118\n68 123 69 4 1 7 -80 7 -179z m-2085 160 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10\n0 6 2 10 4 10 3 0 8 -4 11 -10z m1772 -6 c2 -5 -32 -29 -74 -53 -43 -24 -104\n-60 -135 -79 -35 -21 -64 -32 -74 -28 -23 9 -21 11 129 98 129 75 147 82 154\n62z m-3340 -175 c164 -94 303 -176 310 -183 9 -8 -8 -22 -70 -56 -108 -60\n-187 -137 -215 -213 -18 -47 -22 -79 -22 -177 0 -66 -3 -120 -8 -120 -4 0 -30\n15 -57 33 -28 18 -102 62 -165 98 -246 141 -559 323 -643 373 -67 40 -85 55\n-75 63 7 6 65 40 128 76 63 36 201 115 305 176 105 61 195 109 202 106 6 -2\n146 -81 310 -176z m2358 158 c29 -16 41 -30 43 -50 2 -15 0 -27 -4 -27 -3 0\n-38 17 -76 37 -61 33 -67 39 -52 50 25 18 43 16 89 -10z m-601 -18 c-3 -5 -10\n-7 -15 -3 -5 3 -7 10 -3 15 3 5 10 7 15 3 5 -3 7 -10 3 -15z m196 -1 c0 -19\n-2 -20 -10 -8 -13 19 -13 30 0 30 6 0 10 -10 10 -22z m810 5 c0 -3 -7 -3 -15\n0 -8 4 -17 2 -20 -3 -4 -6 -14 -10 -23 -10 -12 1 -10 4 7 14 23 12 51 12 51\n-1z m-1025 -33 c10 -11 16 -20 13 -20 -3 0 -13 9 -23 20 -10 11 -16 20 -13 20\n3 0 13 -9 23 -20z m932 -1 c-9 -6 -15 -14 -13 -18 3 -4 -1 -8 -9 -8 -8 0 -15\n2 -15 5 0 8 45 40 50 35 3 -2 -3 -9 -13 -14z m473 -4 c0 -2 -10 -9 -22 -15\n-22 -11 -22 -10 -4 4 21 17 26 19 26 11z m-2462 -37 c23 -13 42 -25 42 -28 0\n-5 -88 -58 -175 -106 l-40 -22 -48 28 -48 27 108 62 c59 33 110 61 113 61 3 0\n24 -10 48 -22z m2202 7 c0 -12 -19 -12 -23 0 -4 9 -1 12 9 8 7 -3 14 -7 14 -8z\nm-1315 -15 c-10 -11 -21 -17 -24 -14 -3 3 3 12 13 20 28 20 32 17 11 -6z m97\n-10 c18 0 41 -41 36 -66 -3 -18 -9 -20 -120 -37 -37 -6 -38 -5 -38 26 0 22 10\n42 37 69 33 34 38 36 53 23 9 -8 23 -15 32 -15z m523 17 c15 -12 16 -15 4 -22\n-8 -5 -10 -4 -6 0 4 5 -3 15 -15 22 -13 7 -18 12 -12 13 5 0 18 -6 29 -13z\nm435 -4 c0 -3 -7 -3 -15 1 -8 3 -15 1 -15 -5 0 -6 -5 -7 -11 -3 -8 4 -7 9 2\n14 12 8 39 3 39 -7z m197 11 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2\n13 -5z m29 -16 c4 -7 3 -8 -4 -4 -7 4 -12 2 -12 -4 0 -6 -5 -8 -11 -4 -8 4 -7\n9 2 15 18 11 17 11 25 -3z m-683 -66 c3 -36 1 -60 -4 -56 -5 3 -9 33 -9 66 0\n77 7 72 13 -10z m453 16 c41 -23 74 -45 74 -48 0 -4 -11 -12 -23 -17 -20 -10\n-35 -5 -101 34 -71 41 -76 46 -59 58 26 20 27 20 109 -27z m3109 23 c79 -36\n165 -157 181 -257 5 -34 2 -45 -19 -69 l-25 -29 -7 44 c-20 116 -114 249 -212\n296 -23 12 -40 24 -36 28 12 12 79 5 118 -13z m-2916 6 c-2 -2 -17 -11 -34\n-21 l-30 -17 24 20 c13 12 28 21 34 21 6 0 8 -1 6 -3z m-1941 -90 c-216 -129\n-344 -197 -371 -197 -47 -1 -100 -29 -156 -83 l-50 -48 -53 32 c-29 18 -55 34\n-57 36 -9 7 26 32 114 81 50 27 172 97 273 155 l183 105 65 -36 c46 -26 62\n-39 52 -45z m4709 77 c17 -5 19 -9 10 -19 -9 -10 -20 -9 -54 2 -24 8 -43 17\n-43 19 0 6 62 5 87 -2z m-3742 -14 c-3 -5 -10 -10 -16 -10 -5 0 -9 5 -9 10 0\n6 7 10 16 10 8 0 12 -4 9 -10z m849 -2 c-3 -4 -11 -5 -19 -1 -21 7 -19 12 4\n10 11 0 18 -5 15 -9z m-2444 -33 c30 -19 51 -35 45 -35 -5 0 -35 16 -65 35\n-30 19 -50 35 -45 35 6 0 35 -16 65 -35z m2060 20 c0 -10 -40 -10 -43 0 -4 8\n3 10 19 7 13 -2 24 -6 24 -7z m3405 -48 c36 -32 38 -37 25 -51 -13 -13 -20\n-11 -64 28 -55 48 -73 95 -27 71 14 -7 44 -29 66 -48z m-2972 42 c-8 -8 -16\n-8 -30 0 -16 9 -14 10 12 11 21 0 26 -3 18 -11z m273 -5 c4 -14 -279 -174\n-290 -163 -5 5 -3 15 5 25 12 16 12 17 -3 11 -25 -9 -22 0 3 14 17 9 20 8 14\n-2 -6 -9 -3 -10 11 -5 34 13 175 98 170 103 -2 3 -14 0 -25 -7 -12 -6 -21 -8\n-21 -6 0 3 14 13 31 22 17 8 28 11 25 5 -10 -15 4 -13 34 4 26 15 42 15 46 -1z\nm-618 -32 c39 -21 49 -43 19 -41 -8 0 -8 2 1 6 9 3 4 10 -14 19 -15 8 -35 12\n-43 9 -8 -3 -12 -3 -9 1 4 3 -3 15 -15 25 -20 17 -20 18 -2 11 11 -4 39 -17\n63 -30z m-623 18 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2 10 4 10 3 0 8\n-4 11 -10z m155 -30 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11 10 2 0\n4 -4 4 -10z m1549 -36 c2 -2 -6 -2 -17 -1 -11 0 -19 4 -16 8 2 4 -2 9 -10 12\n-11 5 -14 -17 -15 -120 -1 -84 2 -130 10 -139 10 -12 9 -13 -5 -8 -14 5 -16\n26 -16 151 l0 144 33 -22 c17 -12 34 -24 36 -25z m-1275 24 c-5 -8 -2 -9 10\n-5 10 4 15 3 11 -3 -3 -6 -1 -10 6 -10 7 0 10 -3 7 -6 -8 -8 -48 14 -48 26 0\n6 5 10 11 10 5 0 7 -5 3 -12z m996 -8 c0 -5 -7 -10 -16 -10 -8 0 -22 -7 -30\n-15 -9 -8 -23 -15 -32 -14 -14 0 -13 2 3 10 11 5 31 16 45 24 30 18 30 18 30\n5z m-700 -32 c0 -4 6 -8 14 -8 8 0 17 -4 20 -9 11 -17 -29 0 -59 25 l-30 25\n28 -12 c15 -7 27 -16 27 -21z m2000 -171 c30 -19 88 -53 128 -77 40 -23 71\n-44 70 -45 -2 -2 -70 -42 -151 -90 -170 -100 -148 -99 -296 -13 l-94 54 -5\n187 -4 187 148 -84 c82 -47 174 -100 204 -119z m-2208 176 c-6 -2 -10 -9 -7\n-14 4 -5 -1 -6 -10 -2 -13 5 -14 7 -3 14 7 5 18 8 23 8 6 0 4 -3 -3 -6z m908\n-112 c0 -86 -3 -120 -12 -124 -10 -3 -12 22 -6 117 7 133 6 126 13 126 3 0 5\n-54 5 -119z m363 65 c-4 -5 -1 -6 5 -2 7 4 22 0 34 -9 22 -15 22 -16 -17 -12\n-30 3 -39 8 -37 21 3 16 -12 21 -51 18 -10 -1 -15 3 -12 8 3 6 0 10 -7 10 -10\n0 -9 3 1 9 17 11 93 -28 84 -43z m-1218 34 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11\n10 0 6 2 10 4 10 3 0 8 -4 11 -10z m3449 -24 c18 -34 15 -56 -7 -56 -16 0 -51\n65 -43 79 13 20 31 11 50 -23z m-3469 -4 c-3 -3 -11 0 -18 7 -9 10 -8 11 6 5\n10 -3 15 -9 12 -12z m-550 -2 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2 10\n4 10 3 0 8 -4 11 -10z m1291 -5 c-8 -8 -18 -15 -22 -15 -3 0 -1 7 6 15 7 8 17\n15 22 15 5 0 3 -7 -6 -15z m2579 6 c-14 -13 -132 -76 -122 -66 7 9 118 74 127\n75 2 0 0 -4 -5 -9z m-3262 -21 c27 -22 42 -26 32 -10 -3 6 -2 10 4 10 5 0 9\n-9 8 -20 -1 -19 -3 -19 -27 -3 -53 34 -64 43 -54 43 6 0 23 -9 37 -20z m301 5\nc-10 -8 -23 -14 -29 -14 -5 0 -1 6 9 14 11 8 24 15 30 15 5 0 1 -7 -10 -15z\nm-738 -3 c15 9 17 8 7 -2 -9 -9 -9 -17 -2 -26 5 -7 8 -60 7 -127 l-3 -115\n-125 74 c-69 40 -146 84 -172 98 -48 26 -65 43 -54 53 3 4 17 -4 31 -17 36\n-34 103 -24 185 29 48 30 68 37 85 31 12 -5 29 -4 41 2z m3744 -1 c0 -5 -39\n-31 -87 -57 -49 -26 -95 -52 -103 -59 -8 -6 -33 -22 -55 -34 l-40 -22 33 28\nc25 21 235 150 250 153 1 0 2 -4 2 -9z m-4664 -98 c-36 -36 -71 -63 -78 -61\n-6 2 22 36 63 76 41 40 76 67 78 61 2 -6 -26 -41 -63 -76z m664 77 c0 -5 -4\n-10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10 -4 10 -10z m1959 -118\nc-1 -64 -3 -110 -5 -102 -7 31 -9 228 -1 223 4 -2 6 -57 6 -121z m-674 102\nc-13 -14 -16 -38 -14 -141 1 -68 -2 -127 -5 -130 -3 -4 -6 57 -6 135 0 103 3\n142 13 145 24 10 28 7 12 -9z m-493 -24 c6 0 9 -3 6 -6 -9 -8 -48 14 -48 27 0\n6 7 3 16 -5 8 -9 20 -16 26 -16z m58 25 c0 -2 -10 -10 -22 -16 -21 -11 -22\n-11 -9 4 13 16 31 23 31 12z m-3751 -53 c14 -8 49 -30 76 -47 28 -18 110 -66\n183 -106 l132 -74 0 -552 c0 -304 -2 -553 -4 -553 -8 0 -103 55 -132 77 -17\n13 -34 23 -39 23 -4 0 -60 31 -124 69 -64 38 -133 76 -153 84 l-38 16 0 555 0\n555 37 -15 c20 -9 48 -23 62 -32z m1893 35 c-12 -7 -19 -16 -16 -20 4 -4 2 -8\n-4 -8 -22 -3 -27 -4 -41 -13 -10 -7 -12 -6 -6 3 9 15 66 51 80 51 6 -1 0 -6\n-13 -13z m228 6 c-1 -5 -9 -19 -20 -31 -28 -34 -47 -23 -20 11 20 26 40 36 40\n20z m4818 -5 c-4 -12 -24 -25 -179 -117 -67 -41 -128 -63 -115 -43 3 6 34 27\n69 47 34 20 96 56 137 80 79 47 94 52 88 33z m101 -25 c15 -53 14 -106 -1\n-101 -15 5 -42 104 -34 124 10 25 25 15 35 -23z m-5061 -12 c8 -9 11 -10 7 -4\n-3 7 20 -5 52 -26 32 -21 69 -44 83 -51 14 -7 28 -18 32 -24 4 -6 12 -12 18\n-12 5 -1 15 -2 20 -3 6 0 10 -6 10 -13 0 -6 -3 -9 -6 -5 -3 3 -13 -1 -22 -10\n-28 -25 -132 -82 -132 -72 0 5 27 22 60 39 64 32 67 37 48 62 -15 19 -93 64\n-83 48 3 -6 -3 -10 -15 -10 -16 0 -20 5 -18 21 2 15 -4 24 -19 30 -14 5 -23 5\n-23 -1 0 -6 -9 -10 -20 -10 -14 0 -20 7 -20 24 0 13 -7 26 -15 30 -8 3 -15 10\n-15 16 0 13 39 -6 58 -29z m4742 34 c0 -2 -15 -12 -32 -21 -18 -9 -46 -28 -62\n-43 -16 -15 -27 -20 -24 -11 2 8 29 30 58 48 56 33 60 35 60 27z m-110 -19 c0\n-2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m220 -1 c0 -2 -10\n-9 -22 -15 -22 -11 -22 -10 -4 4 21 17 26 19 26 11z m-4530 -79 c0 -91 -16\n-113 -50 -66 -19 26 -20 35 -11 62 15 41 39 78 51 78 6 0 10 -32 10 -74z\nm4626 40 c-21 -18 -36 -38 -32 -44 9 -15 -97 -72 -122 -66 -11 3 -38 -4 -61\n-16 -23 -11 -46 -18 -52 -14 -5 3 24 23 66 44 41 22 99 55 128 73 101 66 137\n77 73 23z m-5120 5 c-4 -5 0 -11 6 -13 7 -3 -2 -5 -19 -5 -39 0 -53 -10 -33\n-24 13 -9 13 -10 1 -7 -28 8 -22 27 11 42 41 18 40 18 34 7z m1629 -40 c-3 -2\n-12 2 -21 9 -13 12 -17 11 -24 0 -10 -16 32 -50 62 -50 29 0 10 -24 -42 -53\nl-50 -28 0 60 c0 35 4 61 10 61 6 0 8 11 4 26 l-7 26 36 -23 c20 -13 34 -26\n32 -28z m-1735 23 c-8 -8 -23 -20 -34 -25 -19 -9 -20 -9 -3 4 24 20 21 30 -5\n17 -22 -11 -22 -10 -4 4 11 9 29 16 39 16 16 0 17 -2 7 -16z m5060 12 c0 -2\n-8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m195 -25 c-3 -6 -11\n-11 -17 -11 -6 0 -6 6 2 15 14 17 26 13 15 -4z m-4741 -25 c-3 -9 -13 -16 -22\n-16 -13 0 -12 3 3 20 20 23 29 21 19 -4z m4324 -29 c43 -60 72 -143 72 -209 0\n-59 -11 -54 -29 12 -16 56 -54 132 -94 188 -26 36 -29 45 -17 52 22 14 31 8\n68 -43z m-5101 6 l66 -36 -25 -21 c-14 -12 -36 -32 -49 -47 -13 -14 -23 -23\n-22 -20 3 5 -25 22 -79 48 -21 10 -38 20 -38 24 0 7 70 89 77 89 2 0 34 -17\n70 -37z m2059 0 c-1 -1 -15 2 -32 6 -16 5 -23 10 -16 10 7 1 10 6 6 13 -4 6 4\n3 18 -8 14 -10 25 -20 24 -21z m3204 32 c0 -2 -10 -9 -22 -15 -22 -11 -22 -10\n-4 4 21 17 26 19 26 11z m401 -37 c-16 -25 -21 -28 -21 -14 0 20 29 60 38 51\n2 -2 -5 -19 -17 -37z m-3151 7 c0 -14 -5 -25 -11 -25 -5 0 -7 5 -3 12 5 8 0 9\n-14 6 -12 -4 -20 -2 -16 3 3 5 12 9 20 9 8 0 14 5 14 10 0 6 2 10 5 10 3 0 5\n-11 5 -25z m-2107 -5 c4 0 5 4 2 10 -3 6 1 7 10 3 12 -4 13 -8 5 -13 -7 -4 -9\n-13 -5 -20 4 -7 -4 -4 -19 5 -14 10 -26 22 -26 28 0 7 4 7 12 -1 7 -7 16 -12\n21 -12z m2520 5 c-1 -5 -7 -11 -14 -14 -7 -2 -9 1 -4 9 6 10 4 12 -8 7 -10 -3\n-17 -2 -17 4 0 6 10 9 23 7 12 -2 21 -7 20 -13z m324 0 c0 -8 -4 -15 -8 -15\n-11 0 -20 16 -12 24 11 11 20 7 20 -9z m2306 3 c15 -12 12 -16 -30 -38 -27\n-13 -65 -35 -85 -48 -30 -20 -40 -22 -58 -12 -12 6 -20 16 -17 23 4 12 141 87\n161 87 7 0 20 -6 29 -12z m-519 -51 c64 -93 97 -213 81 -294 -8 -38 -8 -37\n-20 32 -17 94 -47 171 -94 238 -28 40 -36 58 -28 66 17 17 22 14 61 -42z m171\n43 c-3 -5 -12 -10 -18 -10 -7 0 -6 4 3 10 19 12 23 12 15 0z m-234 -51 c32\n-41 79 -141 78 -169 0 -8 -7 -1 -16 15 -19 36 -66 98 -106 142 -29 31 -30 53\n-2 53 7 0 28 -18 46 -41z m-4511 20 c0 6 9 11 20 11 13 0 20 -7 20 -19 0 -11\n10 -27 23 -36 20 -14 22 -14 25 0 6 26 30 16 34 -14 l4 -29 -55 28 c-31 15\n-65 36 -77 46 -11 11 -14 15 -7 10 8 -5 13 -4 13 3z m2860 -4 c17 -21 6 -30\n-13 -11 -8 8 -17 13 -20 10 -3 -3 -8 -1 -12 5 -10 17 31 13 45 -4z m2260 1 c0\n-10 -103 -67 -113 -63 -7 2 13 18 43 35 52 30 70 37 70 28z m-2757 -27 c-25\n-16 -36 -18 -50 -9 -16 10 -16 10 3 5 11 -3 29 2 40 10 10 8 24 14 29 15 6 0\n-4 -10 -22 -21z m-1519 -161 c3 -90 7 -282 8 -428 4 -417 8 -530 20 -530 8 0\n9 92 3 320 -4 194 -3 320 2 320 9 0 144 -74 308 -170 l80 -47 3 -376 c1 -207\n-1 -377 -5 -377 -5 1 -96 51 -203 113 -173 99 -195 115 -198 140 -2 15 -7 25\n-11 22 -5 -2 -11 190 -15 428 -4 238 -9 503 -11 590 -2 86 0 157 4 157 5 0 11\n-73 15 -162z m2107 134 l8 -22 -39 20 c-22 11 -40 22 -40 24 0 2 14 3 31 2 23\n-1 34 -8 40 -24z m-1741 -177 l55 -31 3 -132 c1 -73 0 -132 -4 -132 -12 0 -64\n34 -64 42 0 4 -5 8 -11 8 -20 0 -267 141 -290 167 l-24 25 23 18 c28 23 28 34\n-2 48 -21 9 -25 20 -31 86 -4 41 -4 79 -1 84 4 6 66 -24 149 -70 78 -45 167\n-95 197 -113z m3606 180 c-11 -8 -27 -15 -35 -15 -13 1 -12 4 3 15 11 8 27 15\n35 15 13 -1 12 -4 -3 -15z m328 -1 c22 -8 21 -77 -1 -131 -22 -52 -80 -90\n-101 -67 -10 11 -10 14 1 14 8 0 33 14 55 30 37 27 42 35 42 70 0 43 -19 61\n-43 42 -7 -6 -25 -16 -40 -21 -24 -9 -27 -9 -19 5 5 8 26 26 48 39 46 29 39\n26 58 19z m-779 -24 c10 -11 16 -20 13 -20 -3 0 -13 9 -23 20 -10 11 -16 20\n-13 20 3 0 13 -9 23 -20z m-3976 -135 c-1 -106 -5 -135 -15 -135 -17 0 -18 33\n-1 61 10 17 10 23 0 26 -7 3 -13 13 -13 24 0 11 6 29 13 40 10 17 10 23 0 26\n-15 6 -17 39 -3 48 6 3 10 15 10 26 0 10 2 19 6 19 3 0 4 -61 3 -135z m1428\n121 c0 -8 -6 -12 -14 -9 -7 3 -13 1 -13 -3 0 -14 100 -65 112 -58 6 4 8 3 5\n-3 -8 -13 20 -26 35 -16 6 3 8 1 4 -5 -3 -6 7 -19 24 -28 16 -10 30 -21 30\n-25 0 -9 -386 -228 -415 -235 -14 -3 -25 -10 -25 -14 0 -7 -85 -60 -96 -60 -2\n0 -4 63 -4 140 l0 139 68 39 c37 22 94 54 127 72 33 18 65 36 71 41 5 5 28 15\n50 22 21 8 39 15 40 16 0 0 1 -5 1 -13z m2624 -48 c30 -58 19 -55 -14 4 -15\n27 -23 47 -17 43 5 -3 20 -24 31 -47z m-894 -5 c-3 -2 -15 0 -26 7 -16 8 -21\n8 -22 -2 0 -7 -4 -4 -9 7 -6 13 -9 -11 -8 -72 1 -51 3 -93 4 -93 2 0 9 7 18\n15 8 9 17 11 21 6 3 -6 -8 -17 -25 -26 l-30 -16 0 111 0 110 41 -20 c23 -12\n39 -24 36 -27z m-1663 24 c16 -12 16 -13 -3 -13 -11 0 -18 3 -15 7 2 4 -2 10\n-8 12 -7 3 -8 6 -2 6 5 1 18 -5 28 -12z m2526 -18 c15 -28 5 -23 -15 7 -9 15\n-12 23 -6 20 6 -4 16 -16 21 -27z m-1770 0 c12 -8 10 -9 -7 -4 -13 4 -38 -2\n-62 -15 -23 -11 -41 -18 -41 -15 0 6 72 44 85 44 6 1 17 -4 25 -10z m-3100\n-34 c0 -33 -12 -46 -25 -25 -8 12 5 60 16 60 5 0 9 -16 9 -35z m2434 -7 c-3\n-4 -10 -3 -17 2 -7 6 -21 17 -32 26 -15 11 -10 10 17 -2 20 -10 35 -21 32 -26z\nm3053 -5 c-3 -10 -5 -2 -5 17 0 19 2 27 5 18 2 -10 2 -26 0 -35z m-2180 -69\nc45 -26 79 -52 76 -57 -4 -6 0 -8 10 -4 15 6 17 -4 17 -91 0 -65 4 -102 13\n-111 7 -8 0 -7 -20 3 -19 9 -33 24 -33 34 1 16 1 16 14 -1 11 -15 14 -7 15 58\n2 68 0 75 -17 75 -15 0 -18 5 -15 24 4 19 1 24 -14 23 -10 -1 -17 3 -16 10 3\n13 -52 35 -63 25 -4 -4 -4 -1 0 6 4 6 2 12 -4 12 -6 0 -19 7 -27 16 -11 11\n-26 14 -48 10 -30 -6 -32 -5 -27 19 2 14 0 25 -5 25 -5 0 -18 7 -29 16 -19 16\n18 -4 173 -92z m763 77 c0 -4 -10 -7 -22 -8 -13 0 -17 1 -10 4 10 4 8 9 -5 19\n-16 13 -15 13 10 3 15 -7 27 -15 27 -18z m-3414 -16 c-36 -19 -47 -19 -22 0\n11 8 27 15 35 15 9 0 3 -7 -13 -15z m1809 -13 c-8 -8 -25 10 -19 20 4 6 9 5\n15 -3 4 -7 6 -15 4 -17z m495 9 c0 -5 -9 -13 -20 -16 -11 -4 -18 -10 -15 -15\n3 -5 11 -7 19 -4 7 3 13 -2 13 -10 0 -13 -4 -13 -28 1 l-28 17 27 17 c33 21\n32 21 32 10z m1160 -12 c0 -5 -7 -9 -15 -9 -8 0 -15 7 -15 15 0 9 6 12 15 9 8\n-4 15 -10 15 -15z m-4830 -81 c174 -100 295 -167 325 -180 17 -7 33 -17 37\n-23 12 -17 10 -1105 -2 -1105 -11 0 -235 125 -417 233 l-103 60 0 554 0 555\n33 -20 c17 -10 75 -44 127 -74z m4780 82 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10\n10 0 6 5 10 10 10 6 0 10 -4 10 -10z m-4083 -16 c6 -16 -22 -52 -33 -41 -9 9\n5 57 17 57 5 0 12 -7 16 -16z m2513 12 c0 -2 -7 -7 -16 -10 -8 -3 -12 -2 -9 4\n6 10 25 14 25 6z m-1150 -25 c0 -6 -4 -13 -10 -16 -5 -3 -10 1 -10 9 0 9 5 16\n10 16 6 0 10 -4 10 -9z m2699 -15 c-2 -2 -14 -9 -26 -15 -18 -9 -22 -9 -18 2\n3 7 15 13 26 14 12 1 20 1 18 -1z m-999 -20 c0 -2 -8 -10 -17 -17 -16 -13 -17\n-12 -4 4 13 16 21 21 21 13z m2180 0 c0 -2 -7 -6 -15 -10 -8 -3 -15 -1 -15 4\n0 6 7 10 15 10 8 0 15 -2 15 -4z m-2143 -12 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6\n6 11 1 17 -2 13 -5z m37 -37 c6 3 8 3 4 -2 -14 -15 13 -35 41 -29 20 4 22 3\n11 -5 -12 -9 -12 -11 3 -17 9 -3 17 -10 17 -15 0 -5 -29 9 -65 31 -36 22 -70\n40 -75 40 -5 0 -12 5 -15 11 -4 5 10 3 30 -5 20 -9 42 -13 49 -9z m-3066 -15\nl24 -19 -62 -36 c-34 -20 -63 -37 -66 -37 -2 0 -4 16 -4 35 0 29 6 39 33 55\n39 24 46 24 75 2z m5252 -2 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10\n10 10 6 0 10 -4 10 -10z m-2575 -32 c0 -14 19 -30 70 -58 39 -21 73 -36 78\n-33 4 2 7 -1 7 -6 0 -6 6 -11 14 -11 8 0 16 -4 18 -8 2 -4 19 -18 39 -30 31\n-18 38 -20 42 -8 4 9 -1 17 -13 21 -10 3 -21 12 -24 20 -7 19 -1 19 16 1 8 -7\n48 -32 91 -55 42 -24 77 -44 77 -45 0 -1 -12 -2 -27 -3 -16 -1 -22 1 -15 4 9\n3 0 13 -25 27 -60 34 -75 38 -71 20 2 -9 26 -28 53 -43 28 -14 82 -46 121 -69\n63 -38 74 -41 100 -32 l29 11 -30 -25 c-35 -29 -550 -326 -565 -326 -11 0 -14\n578 -4 643 7 39 18 42 19 5z m40 -6 c-3 -3 -11 0 -18 7 -9 10 -8 11 6 5 10 -3\n15 -9 12 -12z m-1925 -1 c0 -6 -4 -13 -10 -16 -5 -3 -10 1 -10 9 0 9 5 16 10\n16 6 0 10 -4 10 -9z m3610 -1 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10\n11 10 2 0 4 -4 4 -10z m-1530 -82 c0 -12 -14 -10 -35 6 -11 8 -26 12 -35 9\n-13 -4 -13 -4 0 6 13 9 13 11 0 12 -8 1 -21 1 -29 0 -7 -2 -10 2 -7 7 7 11\n-22 25 -35 17 -5 -4 -6 1 -3 10 5 13 17 9 75 -22 38 -20 69 -41 69 -45z m1450\n58 c0 -9 -7 -12 -20 -9 -31 8 -34 23 -6 23 16 0 26 -6 26 -14z m-4069 -23 c13\n-16 12 -17 -3 -4 -17 13 -22 21 -14 21 2 0 10 -8 17 -17z m535 -20 c-10 -10\n-19 5 -10 18 6 11 8 11 12 0 2 -7 1 -15 -2 -18z m3420 1 c8 3 19 -4 25 -17 11\n-20 11 -21 -4 -8 -14 11 -20 11 -32 1 -13 -11 -15 -8 -14 21 1 19 3 26 6 16 3\n-11 11 -16 19 -13z m-954 8 c-6 -2 -9 -8 -6 -14 5 -8 -29 5 -43 17 -2 1 12 2\n30 2 17 0 26 -2 19 -5z m-2898 -46 c-4 -11 -55 -46 -67 -46 -8 0 5 50 15 56 5\n3 4 12 -3 21 -10 11 -5 11 23 -3 20 -9 34 -22 32 -28z m2106 -231 l0 -274\n-147 86 c-82 47 -190 109 -240 137 -51 28 -93 53 -93 56 0 3 17 14 38 25 72\n38 326 186 332 193 6 8 91 50 103 51 4 1 7 -123 7 -274z m2189 261 c9 -11 47\n-15 161 -18 121 -2 152 -6 162 -19 12 -14 62 -44 271 -164 52 -30 64 -42 55\n-51 -13 -11 -447 -262 -563 -325 -33 -18 -77 -43 -97 -56 -21 -13 -40 -23 -43\n-23 -8 0 1 576 10 628 7 43 23 53 44 28z m-249 -6 c0 -5 -4 -10 -10 -10 -5 0\n-10 5 -10 10 0 6 5 10 10 10 6 0 10 -4 10 -10z m-3652 -11 c29 -10 52 -39 31\n-39 -5 0 -12 7 -15 15 -4 8 -12 15 -20 15 -23 0 -16 -14 17 -33 18 -10 29 -20\n26 -23 -7 -7 -85 38 -91 52 -3 8 4 10 17 7 18 -4 19 -3 7 6 -19 14 -11 14 28\n0z m-818 -19 c0 -4 14 -13 30 -20 17 -7 30 -16 30 -20 0 -7 -82 -60 -93 -60\n-4 0 -4 22 1 97 1 15 7 21 17 17 8 -4 15 -10 15 -14z m4130 -264 c-7 -7 -10 6\n-10 41 0 29 -4 54 -9 58 -13 7 -61 -15 -62 -29 0 -6 -1 -35 -2 -65 -1 -34 -7\n-56 -15 -59 -10 -3 -12 25 -10 134 2 99 6 139 16 142 8 2 12 -10 12 -42 0 -50\n1 -51 33 -35 31 17 37 28 37 80 0 25 3 49 8 53 4 4 8 -54 10 -130 2 -85 -1\n-141 -8 -148z m-3990 267 c0 -5 31 -26 70 -47 38 -22 67 -43 64 -48 -6 -10\n-167 76 -172 91 -2 6 6 11 17 11 12 0 21 -3 21 -7z m4047 -15 c-3 -8 -6 -5 -6\n6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m-3645 -56 c45 -27 105 -61 131 -76 l49\n-28 -84 -50 c-105 -63 -108 -65 -108 -40 0 13 -32 46 -95 97 -53 43 -93 80\n-90 83 8 8 99 61 107 61 3 1 44 -21 90 -47z m3662 6 c-3 -4 -9 -8 -15 -8 -5 0\n-9 4 -9 8 0 5 7 9 15 9 8 0 12 -4 9 -9z m106 -8 c0 -5 -2 -10 -4 -10 -3 0 -8\n5 -11 10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m80 -35 c0 -5 -5 -3 -10 5 -5 8\n-10 20 -10 25 0 6 5 3 10 -5 5 -8 10 -19 10 -25z m55 25 c3 -5 1 -10 -4 -10\n-6 0 -11 5 -11 10 0 6 2 10 4 10 3 0 8 -4 11 -10z m-4239 -51 c30 -18 45 -39\n29 -39 -18 0 -85 42 -80 50 9 14 13 13 51 -11z m3039 -13 c52 -30 56 -34 30\n-33 -17 1 -39 10 -49 19 -11 10 -26 18 -33 18 -8 0 -12 4 -9 9 4 5 0 12 -6 14\n-7 3 -8 6 -3 6 6 0 37 -15 70 -33z m585 -523 l0 -558 -118 -69 c-64 -38 -121\n-75 -127 -81 -5 -6 -53 -35 -105 -64 -52 -30 -114 -65 -137 -78 l-43 -25 0\n565 0 565 263 151 c144 83 263 150 265 151 1 0 2 -251 2 -557z m680 189 l0\n-357 -167 -97 c-93 -53 -195 -111 -228 -129 -33 -18 -69 -38 -80 -46 -11 -7\n-23 -13 -27 -13 -5 0 -8 161 -8 358 l0 357 33 19 c17 10 59 33 92 51 33 18\n130 74 215 123 85 50 158 91 163 91 4 1 7 -160 7 -357z m-302 312 c-4 -3 -12\n5 -18 18 -12 22 -12 22 6 6 10 -10 15 -20 12 -24z m-3873 -41 c19 -9 35 -23\n35 -30 0 -7 -2 -13 -4 -13 -12 0 -76 43 -76 51 0 12 4 12 45 -8z m-415 -53 c0\n-41 4 -52 27 -70 36 -28 47 -22 54 31 3 24 7 41 8 37 5 -20 2 -261 -3 -266 -3\n-3 -6 24 -6 59 0 61 -2 66 -30 82 -39 24 -50 15 -50 -39 0 -24 -4 -44 -10 -44\n-6 0 -10 52 -10 136 0 87 4 133 10 129 6 -3 10 -28 10 -55z m547 -23 c24 -18\n2 -27 -29 -11 -23 12 -27 18 -17 24 13 9 22 6 46 -13z m393 -24 c0 -21 -3 -68\n-6 -105 l-7 -67 -41 23 c-23 13 -63 36 -91 51 l-49 28 23 16 c35 24 155 90\n164 91 4 0 7 -17 7 -37z m1195 -113 c6 -4 37 -22 70 -40 92 -50 328 -187 349\n-203 17 -12 3 -23 -165 -119 -313 -179 -364 -208 -372 -208 -4 0 -7 144 -7\n321 l0 320 58 -32 c31 -18 62 -35 67 -39z m-1875 51 c0 -12 -31 -43 -37 -37\n-3 2 4 13 14 24 21 24 23 25 23 13z m-92 -284 c7 -6 39 -24 71 -41 32 -17 92\n-51 134 -76 l77 -45 0 -357 c0 -197 -4 -358 -8 -358 -5 0 -33 15 -63 33 -30\n18 -85 50 -124 71 -38 22 -72 42 -75 46 -3 3 -60 39 -127 80 l-123 74 0 357 0\n357 113 -65 c61 -36 118 -70 125 -76z m627 39 c33 -19 96 -55 140 -81 44 -25\n109 -63 145 -83 l65 -38 3 -561 2 -562 -142 81 c-79 45 -179 103 -223 129 -44\n26 -97 55 -117 65 l-38 18 0 564 0 563 53 -30 c28 -16 79 -45 112 -65z m2405\n-469 l0 -564 -247 -141 c-137 -77 -256 -144 -265 -147 -17 -7 -18 24 -18 553\nl0 560 88 49 c48 28 114 65 147 84 33 18 65 37 70 41 17 14 210 127 218 128 4\n0 7 -253 7 -563z m-1795 117 c33 -20 85 -50 115 -66 30 -17 110 -61 178 -100\nl122 -70 0 -559 c0 -308 -2 -559 -5 -559 -3 0 -74 39 -158 86 -84 48 -191 109\n-239 136 l-88 49 0 560 c0 307 4 559 8 559 4 0 34 -16 67 -36z m1095 -524 l0\n-560 -42 -26 c-130 -76 -443 -254 -460 -262 -5 -2 -8 250 -8 561 l0 564 105\n61 c57 34 106 62 109 62 2 0 66 36 142 80 76 44 142 80 146 80 5 0 8 -252 8\n-560z\" />\n    <path d=\"M7236 7188 l-37 -19 3 -90 3 -90 67 -36 67 -37 40 19 41 18 0 83 c0\n76 -2 85 -22 97 -13 7 -46 27 -74 44 l-51 30 -37 -19z m98 -34 c25 -14 46 -27\n46 -30 0 -2 -9 -8 -19 -13 -15 -8 -30 -5 -65 15 -45 25 -53 34 -39 47 11 12\n29 8 77 -19z m-59 -62 c-3 -3 -11 0 -18 7 -9 10 -8 11 6 5 10 -3 15 -9 12 -12z\nm110 8 c-3 -5 -12 -10 -18 -10 -7 0 -6 4 3 10 19 12 23 12 15 0z m15 -68 c0\n-44 -12 -72 -32 -72 -10 0 -11 104 -1 113 20 21 33 4 33 -41z m-143 6 c-3 -8\n-6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m43 -20 c0 -16 -3 -19 -11 -11\n-6 6 -8 16 -5 22 11 17 16 13 16 -11z\" />\n    <path d=\"M7337 6863 c-4 -3 -7 -57 -7 -120 l0 -113 41 -26 c65 -41 70 -33 67\n103 l-3 117 -40 23 c-44 25 -49 26 -58 16z\" />\n    <path d=\"M7692 6974 c-13 -9 -22 -23 -20 -32 2 -10 -6 -22 -17 -27 -17 -9 -20\n-22 -23 -84 -2 -44 2 -78 8 -87 7 -7 41 -30 76 -49 85 -48 94 -41 94 69 l0 81\n-35 20 c-29 15 -33 20 -20 27 21 12 19 54 -5 78 -24 24 -29 24 -58 4z m28\n-134 c39 -20 40 -22 40 -74 l0 -54 -47 25 -48 26 3 48 c2 27 6 49 8 49 3 0 23\n-9 44 -20z\" />\n    <path d=\"M7930 6825 c-7 -8 -10 -24 -7 -35 4 -15 0 -20 -14 -20 -17 0 -19 -8\n-19 -87 l0 -88 63 -35 c34 -19 65 -36 68 -38 4 -2 14 4 23 13 12 12 16 35 16\n85 0 66 -1 69 -32 91 -18 12 -35 24 -37 25 -2 2 4 10 13 19 20 20 20 35 0 63\n-17 25 -56 29 -74 7z m78 -205 c2 -27 0 -50 -3 -50 -3 0 -23 11 -45 25 -38 24\n-40 28 -40 76 l0 50 43 -25 c40 -24 42 -28 45 -76z\" />\n    <path d=\"M7541 6752 c-5 -9 -7 -71 -5 -137 4 -101 8 -123 24 -139 16 -16 22\n-17 34 -6 13 10 16 37 16 141 0 121 -1 129 -22 143 -29 20 -35 20 -47 -2z m49\n-198 c0 -48 -3 -65 -12 -62 -13 5 -23 89 -14 114 13 35 26 9 26 -52z\" />\n    <path d=\"M7777 6599 c-14 -8 -17 -25 -17 -89 l0 -78 70 -41 c39 -22 77 -38 85\n-35 12 5 15 25 15 89 l0 84 -62 37 c-35 20 -65 38 -68 40 -3 1 -13 -2 -23 -7z\nm113 -150 c0 -27 -2 -49 -6 -49 -3 0 -23 10 -44 23 -38 21 -40 24 -40 74 l0\n52 45 -26 c44 -24 45 -26 45 -74z\" />\n    <path d=\"M7643 6423 c-9 -3 -13 -29 -13 -78 0 -67 2 -75 26 -94 14 -11 30 -22\n37 -24 8 -3 2 -15 -15 -31 -34 -33 -34 -38 -4 -73 l24 -28 37 18 c31 15 36 22\n33 42 -4 19 0 25 16 27 19 3 21 10 24 89 l3 87 -65 36 c-63 35 -78 40 -103 29z\nm100 -101 c13 -14 17 -32 15 -59 l-3 -38 -32 62 c-18 34 -33 65 -33 68 0 9 34\n-12 53 -33z m-53 -45 c0 -5 -4 -5 -10 -2 -5 3 -10 14 -10 23 0 15 2 15 10 2 5\n-8 10 -19 10 -23z\" />\n    <path d=\"M7897 6283 c-4 -3 -7 -44 -7 -89 l0 -83 32 -17 32 -17 -22 -17 c-12\n-10 -22 -29 -22 -43 0 -25 27 -57 49 -57 19 0 61 47 56 62 -3 7 5 18 17 23 21\n9 23 18 26 90 l2 80 -66 38 c-66 37 -85 43 -97 30z m113 -160 c0 -48 -15 -40\n-44 23 -35 75 -33 84 9 44 26 -25 35 -42 35 -67z m-77 17 c3 -11 1 -18 -4 -14\n-5 3 -9 12 -9 20 0 20 7 17 13 -6z\" />\n    <path d=\"M8540 6891 c-6 -12 -14 -20 -18 -20 -30 5 -57 -6 -91 -36 -21 -19\n-45 -35 -54 -35 -22 0 -31 -18 -18 -34 8 -10 8 -22 1 -40 -13 -36 -13 -89 2\n-104 9 -9 9 -18 0 -36 -15 -34 3 -44 32 -17 12 12 32 21 44 21 12 0 39 16 61\n35 21 19 45 35 54 35 21 0 33 20 17 30 -10 6 -10 15 0 45 7 20 9 53 6 73 -9\n51 -10 65 -5 81 7 22 -19 24 -31 2z\" />\n    <path d=\"M8576 6122 c-10 -2 -33 -13 -50 -23 -17 -10 -41 -19 -53 -19 -13 0\n-23 -6 -23 -13 0 -8 -19 -23 -42 -35 -24 -12 -54 -32 -68 -43 -23 -20 -23 -22\n-7 -34 10 -7 16 -19 15 -26 -5 -23 12 -17 124 46 101 56 108 62 108 92 0 17 5\n33 12 35 18 6 5 24 -16 20z m-18 -64 c-4 -13 -175 -118 -191 -118 -26 0 10 30\n89 76 94 56 108 61 102 42z\" />\n    <path d=\"M3585 6003 c-70 -17 -55 -83 20 -83 75 0 90 65 20 83 -11 2 -29 2\n-40 0z m64 -22 c23 -15 -5 -41 -44 -41 -39 0 -67 26 -44 41 8 5 28 9 44 9 17\n0 36 -4 44 -9z\" />\n    <path d=\"M3585 5970 c-8 -12 20 -24 35 -15 6 3 8 11 5 16 -8 12 -32 12 -40 -1z\" />\n    <path d=\"M8540 5871 c-7 -14 -21 -21 -40 -21 -20 0 -43 -12 -70 -36 -22 -20\n-43 -34 -47 -30 -12 12 -34 -16 -23 -29 7 -9 7 -21 0 -39 -15 -40 -12 -102 5\n-116 14 -11 14 -15 1 -29 -10 -11 -12 -21 -5 -31 8 -13 12 -12 28 8 11 12 27\n22 36 22 25 0 71 27 94 56 11 15 25 23 32 19 15 -10 31 16 18 31 -6 7 -5 23 2\n43 6 17 8 48 5 69 -9 51 -10 65 -5 81 7 22 -19 24 -31 2z\" />\n    <path d=\"M8526 5086 c-21 -14 -45 -22 -53 -19 -9 3 -16 -2 -19 -15 -3 -11 -22\n-27 -42 -36 -21 -10 -50 -29 -66 -43 -27 -23 -28 -26 -13 -38 9 -7 17 -18 17\n-24 0 -18 33 -5 135 53 83 48 90 55 93 86 2 19 11 40 20 47 32 24 -30 14 -72\n-11z m34 -40 c0 -16 -162 -116 -188 -116 -12 0 -13 3 -5 11 9 9 177 113 191\n118 1 1 2 -5 2 -13z\" />\n    <path d=\"M4260 4210 c8 -5 20 -10 25 -10 6 0 3 5 -5 10 -8 5 -19 10 -25 10 -5\n0 -3 -5 5 -10z\" />\n    <path d=\"M6295 3160 c3 -5 8 -10 11 -10 2 0 4 5 4 10 0 6 -5 10 -11 10 -5 0\n-7 -4 -4 -10z\" />\n    <path d=\"M9597 7073 c-4 -3 -7 -11 -7 -17 0 -6 5 -5 12 2 6 6 9 14 7 17 -3 3\n-9 2 -12 -2z\" />\n    <path d=\"M9205 6613 c-82 -47 -201 -115 -262 -151 l-113 -64 0 -49 c0 -27 -4\n-49 -10 -49 -5 0 -10 -24 -10 -54 0 -30 5 -58 10 -61 6 -4 10 -118 10 -310 0\n-192 -4 -306 -10 -310 -5 -3 -10 -28 -10 -55 0 -27 5 -52 10 -55 6 -3 10 -44\n10 -91 0 -49 -4 -84 -10 -84 -5 0 -10 -22 -10 -49 0 -28 5 -53 10 -56 6 -4 10\n-120 10 -316 0 -199 -4 -309 -10 -309 -5 0 -10 -25 -10 -55 0 -30 5 -55 10\n-55 6 0 10 -18 10 -40 0 -35 4 -43 30 -58 24 -14 30 -23 30 -53 0 -41 27 -82\n70 -104 16 -8 31 -24 35 -35 17 -52 101 -55 141 -4 l22 27 247 -144 c135 -79\n297 -173 360 -209 437 -251 417 -238 449 -303 31 -61 76 -107 104 -107 9 0 32\n9 50 20 l34 21 -7 62 c-4 34 -12 68 -18 75 -12 16 -1 25 111 92 l83 50 19 -22\nc11 -13 19 -28 20 -35 0 -19 50 -53 77 -53 14 0 38 13 55 30 25 25 29 35 22\n58 -4 15 -8 38 -8 52 -1 14 -5 31 -10 38 -5 9 -1 20 13 33 l21 20 -2 1020 -3\n1021 -155 90 c-85 49 -189 108 -230 130 -41 23 -109 62 -150 88 -137 85 -865\n500 -877 500 -4 0 -75 -39 -158 -87z m325 -22 c85 -49 173 -99 195 -111 41\n-22 403 -233 550 -319 44 -26 166 -96 270 -155 105 -59 193 -111 198 -115 7\n-7 -440 -268 -452 -264 -3 1 -121 68 -261 148 -140 81 -280 161 -310 177 -125\n70 -389 223 -445 258 -33 21 -119 71 -191 112 -72 40 -141 80 -154 88 -22 15\n-16 19 196 142 121 69 226 126 234 127 8 0 84 -39 170 -88z m-490 -276 c52\n-29 118 -66 145 -83 28 -17 121 -72 208 -122 86 -50 157 -96 157 -101 0 -5 -2\n-9 -5 -9 -2 0 -83 46 -180 103 -96 56 -231 134 -298 172 -180 102 -197 113\n-197 126 0 6 16 1 38 -11 20 -13 80 -46 132 -75z m-90 -6 c46 -28 107 -62 135\n-76 27 -14 52 -29 55 -32 3 -4 86 -54 185 -110 99 -57 183 -106 188 -110 4 -4\n6 -226 5 -494 l-3 -486 -47 30 c-27 17 -48 35 -48 40 0 4 14 16 30 26 29 17\n30 19 30 100 0 93 6 85 -107 145 -41 22 -41 22 -77 3 l-36 -20 0 -82 c0 -46\n-2 -83 -5 -83 -2 0 -19 9 -37 20 -19 11 -26 20 -17 20 9 0 24 9 34 20 48 53\n-53 158 -103 108 -9 -9 -12 11 -12 93 0 85 4 112 20 144 16 32 25 39 45 37 36\n-5 69 32 61 71 -12 59 -59 93 -99 72 l-27 -14 0 102 c0 83 4 110 20 142 16 32\n25 39 45 37 26 -4 65 28 65 53 0 27 -27 70 -54 84 -22 12 -29 12 -51 -3 -25\n-16 -25 -16 -25 10 0 24 -33 63 -54 64 -4 0 -35 16 -68 36 -42 26 -67 35 -86\n31 -39 -7 -62 9 -62 43 0 17 3 30 8 30 4 0 45 -23 92 -51z m-31 -122 c6 -8 8\n-17 4 -20 -7 -8 -33 11 -33 24 0 13 16 11 29 -4z m-39 -353 c0 -243 -2 -283\n-14 -278 -13 5 -15 53 -16 296 0 260 1 290 15 278 13 -11 15 -54 15 -296z\nm130 290 c0 -14 -3 -14 -15 -4 -8 7 -15 14 -15 16 0 2 7 4 15 4 8 0 15 -7 15\n-16z m103 -66 c20 -23 22 -59 6 -75 -9 -9 -19 -2 -41 28 -16 22 -35 43 -44 46\n-11 4 -12 8 -2 20 15 19 57 9 81 -19z m-65 -30 c7 -7 12 -20 12 -30 0 -16 -3\n-17 -20 -8 -11 6 -20 7 -20 3 0 -13 -20 21 -20 35 0 15 32 16 48 0z m737 -144\nc179 -100 459 -264 469 -275 23 -22 -33 -6 -72 21 -24 16 -171 102 -328 191\n-156 89 -281 166 -278 170 3 5 24 -2 47 -15 23 -13 96 -54 162 -92z m-785 -69\nc0 -85 -4 -146 -10 -150 -7 -4 -10 48 -10 150 0 102 3 154 10 150 6 -4 10 -65\n10 -150z m935 -75 c305 -177 295 -170 295 -203 0 -24 -3 -28 -17 -22 -45 19\n-57 12 -60 -34 -3 -40 1 -48 37 -82 l40 -38 0 -297 0 -296 -26 17 c-37 24 -54\n13 -54 -36 0 -36 6 -48 40 -80 35 -33 52 -69 34 -69 -4 0 -106 58 -228 128\n-121 71 -268 155 -326 188 l-105 60 -3 488 -2 487 87 -47 c49 -26 178 -100\n288 -164z m825 -372 l0 -493 -223 -127 -222 -128 -3 492 c-3 550 -10 496 73\n537 22 12 112 63 200 115 88 52 163 95 168 95 4 1 7 -221 7 -491z m-1656 296\nc23 -22 30 -59 16 -84 -11 -21 -13 -20 -40 23 -15 24 -35 47 -44 50 -10 4 -14\n11 -11 17 10 16 62 12 79 -6z m-62 -41 c25 -22 23 -50 -3 -48 -23 2 -39 21\n-39 48 0 22 18 22 42 0z m1225 -105 c-2 -13 -4 -3 -4 22 0 25 2 35 4 23 2 -13\n2 -33 0 -45z m-1267 21 c0 -6 -4 -7 -10 -4 -5 3 -10 11 -10 16 0 6 5 7 10 4 6\n-3 10 -11 10 -16z m0 -79 c0 -5 -2 -10 -4 -10 -3 0 -8 5 -11 10 -3 6 -1 10 4\n10 6 0 11 -4 11 -10z m-120 -48 c0 -27 87 -27 96 0 7 22 24 14 24 -12 0 -10\n11 -27 25 -38 28 -22 35 -72 10 -72 -8 0 -53 23 -100 50 -61 36 -85 56 -85 70\n0 11 7 20 15 20 8 0 15 -8 15 -18z m1387 -489 c-1 -87 -3 -16 -3 157 0 173 2\n244 3 158 2 -87 2 -229 0 -315z m-1341 381 c35 -20 64 -40 64 -45 0 -13 -13\n-11 -39 7 -17 12 -28 14 -45 6 -33 -15 -57 2 -54 39 1 16 4 29 6 29 2 0 33\n-16 68 -36z m469 8 c37 -23 43 -30 33 -41 -11 -11 -8 -12 12 -7 22 6 22 5 7\n-4 -15 -10 -29 -6 -73 16 -62 31 -73 42 -53 55 20 13 25 12 74 -19z m-275 -12\nc0 -5 -8 -10 -17 -10 -15 0 -16 2 -3 10 19 12 20 12 20 0z m-10 -52 c23 -25\n26 -60 7 -76 -10 -9 -17 -4 -31 19 -9 16 -28 37 -42 45 -13 9 -21 20 -18 25\n10 17 63 9 84 -13z m-60 -44 c16 -29 12 -35 -18 -28 -22 6 -38 36 -27 53 9 15\n31 3 45 -25z m408 -21 c-2 -46 -7 -59 -20 -61 -15 -3 -18 4 -18 45 0 46 12 73\n32 73 5 0 8 -26 6 -57z m-128 11 c0 -8 -4 -14 -10 -14 -5 0 -10 9 -10 21 0 11\n5 17 10 14 6 -3 10 -13 10 -21z m30 -15 c0 -11 -4 -18 -10 -14 -5 3 -7 12 -3\n20 7 21 13 19 13 -6z m-435 -10 c12 -19 -5 -23 -22 -6 -16 16 -16 17 -1 17 9\n0 20 -5 23 -11z m488 -146 l107 -66 0 -484 0 -483 -37 19 c-21 11 -47 26 -58\n34 -19 15 -18 16 18 33 20 10 37 20 37 23 5 60 6 121 2 139 -3 16 -28 39 -74\n68 l-68 44 -40 -20 -40 -20 0 -85 0 -86 -31 16 -31 16 26 24 c14 13 26 31 26\n40 0 27 -27 70 -54 84 -22 12 -29 12 -51 -3 l-25 -16 0 106 c0 133 18 183 64\n184 36 0 66 25 66 56 0 34 -47 84 -79 84 -15 0 -32 -5 -39 -12 -9 -9 -12 11\n-12 93 0 85 4 112 20 144 16 32 25 39 45 37 28 -4 65 29 65 57 0 10 -10 33\n-23 52 -24 37 -67 50 -93 28 -18 -15 -18 -4 2 26 l15 24 77 -46 c42 -24 125\n-74 185 -110z m-406 92 c9 -24 -1 -27 -15 -5 -8 13 -8 20 -2 20 6 0 13 -7 17\n-15z m-129 -289 c2 -229 0 -287 -10 -284 -10 4 -14 71 -16 292 -2 231 0 287\n10 284 10 -4 14 -69 16 -292z m97 274 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0\n6 2 10 4 10 3 0 8 -4 11 -10z m121 -38 c31 -20 44 -82 21 -100 -10 -9 -17 -3\n-32 23 -10 19 -21 35 -24 35 -16 1 -42 30 -36 39 7 12 54 14 71 3z m-54 -49\nc27 -25 24 -51 -7 -46 -25 5 -42 34 -30 53 9 14 16 13 37 -7z m-42 -220 c0\n-84 -4 -144 -10 -148 -7 -4 -10 51 -10 157 0 109 4 158 10 148 5 -8 10 -79 10\n-157z m717 54 c81 -46 230 -130 330 -188 178 -101 182 -105 183 -137 0 -32 0\n-32 -28 -18 -38 20 -53 8 -51 -40 3 -44 30 -90 59 -99 19 -6 20 -16 20 -307 0\n-282 -1 -300 -17 -293 -46 19 -53 18 -54 -6 0 -13 -2 -34 -3 -47 -3 -27 26\n-68 54 -77 13 -4 20 -15 20 -31 0 -13 -2 -24 -4 -24 -3 0 -105 58 -228 129\n-228 131 -254 147 -371 216 l-67 39 0 483 c0 266 2 483 5 483 2 0 71 -37 152\n-83z m1043 -495 c0 -453 -1 -490 -17 -504 -17 -14 -156 -95 -343 -199 l-85\n-47 -3 491 c-1 270 1 494 5 498 5 4 60 37 123 72 63 36 158 90 210 120 52 31\n98 56 103 57 4 0 7 -220 7 -488z m-1646 286 c19 -27 21 -62 3 -76 -10 -9 -17\n-4 -31 19 -9 16 -28 37 -42 45 -30 21 -22 34 21 34 24 0 39 -7 49 -22z m1153\n-30 c-2 -13 -4 -5 -4 17 -1 22 1 32 4 23 2 -10 2 -28 0 -40z m-1209 -32 c3\n-25 2 -26 -22 -15 -27 13 -42 41 -31 59 11 18 50 -14 53 -44z m1209 -68 c-2\n-13 -4 -5 -4 17 -1 22 1 32 4 23 2 -10 2 -28 0 -40z m-1267 21 c0 -6 -4 -7\n-10 -4 -5 3 -10 11 -10 16 0 6 5 7 10 4 6 -3 10 -11 10 -16z m0 -89 c0 -5 -2\n-10 -4 -10 -3 0 -8 5 -11 10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m-120 -49 c0\n-28 85 -25 98 3 10 22 10 22 26 -27 3 -11 15 -21 26 -24 15 -4 20 -14 20 -39\n0 -19 -5 -34 -11 -34 -6 0 -51 23 -100 51 -83 48 -104 71 -83 92 10 10 24 -2\n24 -22z m1387 -488 c-1 -87 -3 -16 -3 157 0 173 2 244 3 158 2 -87 2 -229 0\n-315z m-870 392 c23 -14 43 -28 43 -30 0 -2 -9 -9 -20 -15 -16 -8 -28 -5 -62\n16 -54 34 -51 31 -43 43 10 17 35 13 82 -14z m-277 -15 c0 -5 -7 -10 -16 -10\n-8 0 -12 5 -9 10 3 6 10 10 16 10 5 0 9 -4 9 -10z m-7 -52 c19 -22 23 -63 7\n-73 -6 -4 -30 14 -54 39 -37 40 -41 48 -27 56 21 12 52 3 74 -22z m332 12 c-3\n-5 -12 -10 -18 -10 -7 0 -6 4 3 10 19 12 23 12 15 0z m-386 -58 c11 -20 -2\n-52 -13 -33 -4 6 -12 11 -18 11 -6 0 -5 -7 3 -17 13 -16 12 -17 -3 -5 -18 14\n-32 58 -23 72 8 13 42 -5 54 -28z m401 -17 c0 -30 -2 -55 -4 -55 -2 0 -11 -3\n-20 -6 -13 -5 -16 3 -16 49 0 51 6 63 33 66 4 1 7 -24 7 -54z m-130 14 c0 -5\n-4 -9 -10 -9 -5 0 -10 7 -10 16 0 8 5 12 10 9 6 -3 10 -10 10 -16z m30 -20 c0\n-11 -4 -18 -10 -14 -5 3 -7 12 -3 20 7 21 13 19 13 -6z m1350 -379 c-14 -11\n-32 -20 -40 -20 -8 0 -1 9 15 20 39 26 58 26 25 0z m24 -46 c3 -9 6 -30 6 -47\n0 -32 0 -32 -20 12 -24 52 -24 51 -6 51 8 0 17 -7 20 -16z m-467 -146 c-2 -13\n-4 -5 -4 17 -1 22 1 32 4 23 2 -10 2 -28 0 -40z m73 -18 c-14 -11 -32 -20 -40\n-20 -8 0 -1 9 15 19 39 26 57 26 25 1z m34 -66 c11 -42 -5 -47 -25 -8 -10 20\n-16 41 -13 46 8 13 31 -9 38 -38z\" />\n    <path d=\"M9298 5998 l-38 -20 0 -88 0 -89 67 -35 c78 -41 81 -42 122 -18 31\n17 31 18 31 99 l0 83 -52 30 c-29 17 -62 37 -73 44 -17 12 -25 11 -57 -6z m96\n-34 c25 -14 46 -27 46 -30 0 -2 -9 -8 -20 -14 -16 -9 -29 -6 -65 16 -46 27\n-54 39 -32 47 20 9 23 8 71 -19z m51 -54 c-3 -5 -12 -10 -18 -10 -7 0 -6 4 3\n10 19 12 23 12 15 0z m15 -75 c0 -30 -2 -55 -4 -55 -2 0 -11 -3 -20 -6 -13 -5\n-16 3 -16 49 0 51 6 63 33 66 4 1 7 -24 7 -54z m-138 3 c-9 -9 -12 -7 -12 12\n0 19 3 21 12 12 9 -9 9 -15 0 -24z m38 -9 c0 -11 -4 -18 -10 -14 -5 3 -7 12\n-3 20 7 21 13 19 13 -6z\" />\n    <path d=\"M9397 5673 c-4 -3 -7 -57 -7 -120 l0 -113 41 -26 c65 -41 70 -33 67\n103 l-3 117 -40 23 c-44 25 -49 26 -58 16z\" />\n    <path d=\"M9752 5778 c-6 -6 -12 -20 -12 -29 0 -10 -9 -21 -20 -24 -18 -6 -20\n-15 -20 -90 l0 -83 69 -41 c94 -55 101 -51 101 58 0 86 0 86 -31 104 -31 17\n-31 18 -13 38 17 19 17 23 3 47 -16 30 -57 40 -77 20z m76 -207 c2 -29 -1 -51\n-5 -49 -83 39 -83 39 -83 96 l0 53 43 -23 c40 -22 42 -25 45 -77z\" />\n    <path d=\"M9990 5631 c-5 -11 -7 -26 -4 -34 3 -9 -3 -16 -15 -20 -19 -5 -21\n-13 -21 -89 l1 -83 67 -38 c87 -50 96 -45 100 59 l3 79 -36 19 c-32 17 -34 21\n-20 36 19 21 19 40 -1 68 -19 27 -60 29 -74 3z m78 -201 c2 -29 -1 -50 -5 -48\n-83 39 -83 39 -83 96 l0 54 43 -25 c40 -24 42 -28 45 -77z\" />\n    <path d=\"M9607 5563 c-4 -3 -7 -61 -7 -129 0 -103 3 -125 18 -145 12 -14 25\n-20 35 -16 15 5 17 25 17 140 0 90 -4 137 -12 145 -13 13 -41 16 -51 5z m43\n-198 c0 -62 -11 -84 -24 -49 -8 21 -8 99 1 107 17 17 23 2 23 -58z\" />\n    <path d=\"M9830 5323 l0 -88 67 -39 c88 -52 98 -46 98 60 l0 79 -60 37 c-33 20\n-70 37 -82 37 -22 1 -23 -2 -23 -86z m118 -63 c2 -27 0 -50 -3 -50 -3 0 -24\n10 -45 23 -39 21 -40 24 -40 75 l0 53 43 -25 c40 -24 42 -28 45 -76z\" />\n    <path d=\"M9707 5233 c-4 -3 -7 -41 -7 -83 0 -77 0 -78 35 -101 l34 -24 -26\n-21 c-21 -16 -25 -26 -19 -48 9 -38 48 -54 81 -32 15 10 25 26 25 40 0 15 7\n26 20 29 18 5 20 14 20 90 l0 85 -61 36 c-58 35 -88 43 -102 29z m95 -100 c21\n-20 28 -36 28 -66 0 -34 -2 -38 -15 -27 -9 7 -13 15 -11 18 3 2 -6 24 -19 47\n-38 63 -31 74 17 28z m-55 -45 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12\n1 -19z\" />\n    <path d=\"M9957 5093 c-4 -3 -7 -44 -7 -89 0 -83 0 -84 30 -99 35 -18 38 -31\n10 -40 -26 -8 -27 -56 -1 -79 34 -31 103 8 87 49 -3 9 3 15 17 17 20 3 22 9\n25 84 l3 82 -63 41 c-60 39 -87 49 -101 34z m96 -111 c13 -14 17 -32 15 -59\nl-3 -38 -29 60 c-16 33 -31 64 -34 68 -8 15 32 -10 51 -31z m-53 -45 c0 -5 -4\n-5 -10 -2 -5 3 -10 14 -10 23 0 15 2 15 10 2 5 -8 10 -19 10 -23z\" />\n    <path d=\"M10605 5700 c-5 -15 -15 -20 -40 -20 -26 0 -43 -9 -72 -37 -20 -21\n-43 -37 -49 -35 -17 4 -28 -16 -16 -31 5 -7 6 -21 1 -32 -11 -29 -11 -93 2\n-116 8 -15 7 -24 -2 -35 -10 -12 -10 -17 0 -27 10 -9 16 -7 28 11 9 12 24 22\n36 22 25 0 83 35 91 55 3 8 17 15 31 15 25 0 36 25 14 32 -7 2 -7 12 0 31 15\n38 14 110 -1 125 -9 9 -9 15 0 24 7 7 12 18 12 25 0 21 -28 15 -35 -7z\" />\n    <path d=\"M10604 4915 c-27 -14 -56 -25 -65 -25 -9 0 -19 -7 -22 -14 -3 -8 -21\n-23 -39 -32 -40 -20 -98 -66 -98 -76 0 -5 6 -8 14 -8 7 0 16 -9 19 -21 5 -20\n7 -19 59 11 29 17 79 45 111 62 52 28 57 34 57 64 0 24 5 34 15 34 8 0 15 4\n15 9 0 21 -20 20 -66 -4z m26 -44 c0 -12 -191 -124 -198 -116 -9 9 18 30 103\n79 82 47 95 52 95 37z\" />\n    <path d=\"M9297 4979 l-37 -19 0 -85 c0 -93 -2 -90 97 -145 42 -23 43 -23 83\n-5 l40 18 0 82 c0 93 0 92 -90 142 l-56 31 -37 -19z m99 -35 c24 -14 44 -28\n44 -30 0 -2 -9 -8 -20 -14 -16 -8 -28 -5 -62 16 -54 34 -51 31 -43 43 10 17\n33 13 81 -15z m49 -54 c-3 -5 -11 -10 -16 -10 -6 0 -7 5 -4 10 3 6 11 10 16\n10 6 0 7 -4 4 -10z m15 -75 c0 -30 -2 -55 -4 -55 -2 0 -11 -3 -20 -6 -13 -5\n-16 3 -16 49 0 51 6 63 33 66 4 1 7 -24 7 -54z m-130 14 c0 -5 -4 -9 -10 -9\n-5 0 -10 7 -10 16 0 8 5 12 10 9 6 -3 10 -10 10 -16z m30 -20 c0 -11 -4 -18\n-10 -14 -5 3 -7 12 -3 20 7 21 13 19 13 -6z\" />\n    <path d=\"M9401 4646 c-8 -9 -11 -51 -9 -122 l3 -109 42 -23 c24 -13 47 -21 53\n-17 6 4 10 54 10 120 l0 115 -40 25 c-46 29 -44 29 -59 11z\" />\n    <path d=\"M9762 4764 c-12 -8 -22 -23 -22 -33 0 -10 -9 -21 -20 -24 -18 -5 -20\n-13 -20 -89 l0 -83 63 -35 c96 -54 101 -52 105 51 l3 85 -35 19 c-33 18 -34\n20 -15 33 24 17 24 33 -2 66 -24 30 -27 31 -57 10z m28 -139 c38 -24 40 -28\n40 -75 l0 -50 -45 28 c-43 26 -45 29 -45 74 0 27 2 48 5 48 3 0 23 -11 45 -25z\" />\n    <path d=\"M9992 4613 c-5 -10 -7 -23 -5 -29 2 -6 -6 -14 -17 -17 -19 -5 -21\n-11 -18 -93 l3 -88 65 -37 c89 -50 100 -44 100 61 l0 78 -36 23 c-32 20 -35\n24 -20 34 9 7 16 21 16 32 0 44 -70 72 -88 36z m61 -141 c12 -11 17 -30 17\n-64 l0 -49 -42 23 c-42 23 -43 24 -46 81 l-3 58 28 -17 c15 -10 36 -24 46 -32z\" />\n    <path d=\"M9607 4553 c-4 -3 -7 -64 -7 -134 0 -108 3 -130 18 -150 12 -14 25\n-20 35 -16 24 9 25 267 1 291 -16 17 -36 21 -47 9z m43 -208 c0 -62 -11 -84\n-24 -49 -8 21 -8 99 1 107 17 17 23 2 23 -58z\" />\n    <path d=\"M9832 4304 l3 -87 65 -39 c85 -52 94 -47 98 58 l3 79 -64 38 c-35 20\n-74 37 -86 37 -21 0 -22 -3 -19 -86z m116 -62 c2 -28 0 -52 -3 -52 -3 0 -23\n12 -45 26 -38 25 -40 30 -40 76 l0 49 43 -23 c40 -22 42 -25 45 -76z\" />\n    <path d=\"M9712 4218 c-7 -7 -12 -43 -12 -90 l0 -78 42 -21 42 -21 -32 -14\nc-36 -15 -41 -37 -16 -72 30 -43 101 -16 91 35 -3 17 -1 23 9 19 25 -10 35 21\n32 99 l-3 77 -64 39 c-72 44 -72 44 -89 27z m93 -104 c16 -18 25 -39 25 -60 0\n-36 -17 -46 -26 -16 -3 9 -10 25 -15 35 -36 67 -27 88 16 41z m-58 -46 c-3 -8\n-6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z\" />\n    <path d=\"M9950 3995 l0 -84 35 -24 35 -24 -25 -13 c-30 -16 -34 -59 -7 -83 24\n-22 34 -21 66 4 18 14 26 28 23 40 -3 12 2 19 19 23 23 6 24 10 24 89 l0 83\n-63 37 c-35 20 -73 37 -85 37 -21 0 -22 -5 -22 -85z m98 -18 c15 -15 22 -32\n22 -59 0 -21 -4 -38 -10 -38 -5 0 -10 8 -10 18 0 10 -4 22 -9 28 -6 5 -17 26\n-26 47 -17 42 -10 42 33 4z m-48 -50 c0 -5 -4 -5 -10 -2 -5 3 -10 14 -10 23 0\n15 2 15 10 2 5 -8 10 -19 10 -23z\" />\n    <path d=\"M10600 4680 c-7 -13 -21 -20 -39 -20 -17 0 -43 -14 -71 -37 -24 -21\n-45 -37 -47 -35 -2 1 -7 2 -13 2 -14 0 -13 -27 1 -32 9 -3 9 -9 0 -25 -14 -27\n-14 -98 0 -124 8 -15 7 -24 -2 -35 -10 -12 -10 -17 0 -27 10 -9 16 -7 28 11 9\n12 26 22 38 22 23 0 70 31 92 61 8 11 21 15 33 12 15 -4 20 0 20 16 0 11 -4\n21 -10 21 -6 0 -6 9 0 26 14 35 12 108 -2 122 -9 9 -9 15 0 24 7 7 12 18 12\n25 0 20 -28 15 -40 -7z\" />\n    <path d=\"M10590 3895 c-19 -14 -42 -25 -51 -25 -9 0 -19 -7 -22 -15 -4 -8 -24\n-23 -46 -34 -22 -12 -52 -32 -67 -46 -22 -21 -24 -26 -10 -31 9 -3 16 -12 16\n-20 0 -24 25 -16 117 37 112 64 113 66 113 101 0 16 6 31 15 34 8 4 15 10 15\n15 0 17 -45 8 -80 -16z m38 -45 c-6 -18 -193 -120 -197 -107 -2 6 0 13 5 14 5\n2 45 26 89 53 79 48 110 60 103 40z\" />\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1d297d73b98b498f",
        "type": "function",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "function 127",
        "func": "\nvar user = global.get(\"user\");\n\nif (msg.payload.error == \"Invalid username or password\"){\n    msg.payload = \"Wrong Password or Username\";\n} else {\n    msg.payload = \"Welcome, \" + user;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "fdb55a23bf43c8fc"
            ]
        ]
    },
    {
        "id": "fdb55a23bf43c8fc",
        "type": "ui_toast",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "7fe74274b344aacf",
        "type": "link out",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "link out 6",
        "mode": "link",
        "links": [],
        "x": 565,
        "y": 380,
        "wires": []
    },
    {
        "id": "4bb5f97f5f874ca8",
        "type": "link out",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "name": "link out 7",
        "mode": "link",
        "links": [],
        "x": 945,
        "y": 300,
        "wires": []
    },
    {
        "id": "4e398c777dae1d18",
        "type": "ui_template",
        "z": "aba5119f3abbead2",
        "g": "d5b4690c03cf222d",
        "group": "3b644f18c97d51e7",
        "name": "CSS Styling Acc2",
        "order": 9,
        "width": 25,
        "height": 1,
        "format": "<style>\n    /* == GENERAL STYLING FOR ALL CARDS == */\n    .nr-dashboard-cardcontainer,\n    .nr-dashboard-cardpanel {\n        border-radius: 12px !important;\n        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);\n        overflow: hidden;\n        transition: all 0.3s ease;\n    }\n\n    /* == CENTERING CONTENT IN ACCOUNT GROUP == */\n    .nr-dashboard-cardpanel.Account,\n    .nr-dashboard-cardcontainer.Account {\n        justify-content: center !important;\n        align-items: center !important;\n        padding-top: 50px;\n        position: relative;\n    }\n\n    /* == SPACING AND CENTERING FOR WIDGETS INSIDE CARDS == */\n    .nr-dashboard-cardcontainer.Account .nr-dashboard-widget {\n        display: flex !important;\n        justify-content: center !important;\n        align-items: center !important;\n        padding: 10px;\n    }\n\n    /* == MARGIN BETWEEN CARDS == */\n    .nr-dashboard-cardcontainer.Account md-card {\n        margin: 10px;\n        border-radius: 10px !important;\n    }\n\n    /* == WELCOME HEADER STYLING == */\n    .nr-dashboard-cardpanel.Account .Welcome {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        text-align: center;\n        width: 100%;\n        position: absolute;\n        top: 0;\n        margin-top: 10px;\n        font-size: 24px;\n        font-weight: 500;\n        color: #333;\n    }\n\n    /* == ADDITIONAL OPTIONAL STYLING == */\n    .nr-dashboard-theme .nr-dashboard-template .md-button {\n        background-color: #134B70 !important;\n        color: #fff;\n        border-radius: 8px;\n        padding: 6px 12px;\n    }\n\n    /* == TOOLTIP TWEAKS IF NEEDED == */\n    .md-tooltip {\n        font-size: 12px;\n    }\n\n    /* == GROUP FOOTERS (e.g. status line) == */\n    .nr-dashboard-group-footer {\n        font-size: 11px;\n        color: #888;\n        padding: 4px 8px;\n        text-align: right;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ef9cb4a6af7bcb35",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "group": "fcfdc7d9f9ba0774",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Title",
        "label": "",
        "format": "Motor AC IIoT - 2025",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "db88f65b79e693b1",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "Home",
        "group": "fcfdc7d9f9ba0774",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "3ae7533ada099cfc"
            ]
        ]
    },
    {
        "id": "b6682b67e146bb45",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "Data",
        "group": "fcfdc7d9f9ba0774",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "insert_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "46994f270f16cc2e"
            ]
        ]
    },
    {
        "id": "292cf9a77b2c9aad",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "Setting",
        "group": "fcfdc7d9f9ba0774",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "settings",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 680,
        "y": 80,
        "wires": [
            [
                "6ad719e6d41e4fa5"
            ]
        ]
    },
    {
        "id": "4f38e193a648037d",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "Login",
        "group": "fcfdc7d9f9ba0774",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "person",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 80,
        "wires": [
            [
                "995675ba814433d6"
            ]
        ]
    },
    {
        "id": "55ecdfd71dd3255d",
        "type": "ui_chart",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "group": "eb13ac083ccc5ed5",
        "order": 14,
        "width": 9,
        "height": 8,
        "label": "Motor Current Chart (Ah)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "947bd86b96cd7c46",
        "type": "ui_gauge",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "speed-gauge",
        "group": "eb13ac083ccc5ed5",
        "order": 15,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Motor Speed",
        "label": "units",
        "format": "{{value}} RPM",
        "min": 0,
        "max": "900",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "8c7369f6466e7777",
        "type": "ui_gauge",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "power-gauge",
        "group": "eb13ac083ccc5ed5",
        "order": 16,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Power Meter",
        "label": "units",
        "format": "{{value}} Wh",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "6dc89363d91ff99b",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "group": "eb13ac083ccc5ed5",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "dir",
        "label": "",
        "format": "Motor Direction",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "898eda77b821b8b8",
        "type": "ui_switch",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "label": "CW",
        "tooltip": "",
        "group": "eb13ac083ccc5ed5",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "CCW",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "CW",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "b45626b9b8badaa5"
            ]
        ]
    },
    {
        "id": "25991d89a40328c5",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "group": "eb13ac083ccc5ed5",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "ccw",
        "label": "CCW",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "258d7a203e73d75b",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "group": "eb13ac083ccc5ed5",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "stat",
        "label": "",
        "format": "Motor Status",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "a51a337854e1cb50",
        "type": "ui_switch",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "label": "OFF",
        "tooltip": "",
        "group": "eb13ac083ccc5ed5",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "8a9a8dba3a15ca94"
            ]
        ]
    },
    {
        "id": "f8fc4994a940f652",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "group": "eb13ac083ccc5ed5",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "on",
        "label": "",
        "format": "ON",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "131b6c6f4ea75658",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "group": "eb13ac083ccc5ed5",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "vsd",
        "label": "",
        "format": "VSD Mode",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "435085504f6ab646",
        "type": "ui_switch",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "label": "AUTO",
        "tooltip": "",
        "group": "eb13ac083ccc5ed5",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "MANUAL",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "AUTO",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "c3fd573be30b4241"
            ]
        ]
    },
    {
        "id": "31899d9e146432ed",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "group": "eb13ac083ccc5ed5",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "manual",
        "label": "MANUAL",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "ea1e32d72663f225",
        "type": "ui_svg_graphics",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "group": "3f13701e6731b9f8",
        "order": 1,
        "width": 8,
        "height": 8,
        "svgString": "<?xml version=\"1.0\" standalone=\"no\"?>\n<!DOCTYPE svg PUBLIC \"-//W3C//DTD SVG 20010904//EN\" \"http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd\">\n<svg version=\"1.0\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\"\n        viewBox=\"0 0 1262.000000 980.000000\" preserveAspectRatio=\"xMidYMid meet\">\n\n        <g transform=\"translate(0.000000,980.000000) scale(0.100000,-0.100000)\" fill=\"#000000\" stroke=\"none\">\n                <path d=\"M5874 9786 c-17 -8 -42 -29 -55 -47 l-24 -34 -5 -595 -5 -595 -1215\n-5 c-1342 -6 -1239 0 -1283 -70 -20 -32 -22 -49 -25 -225 l-2 -190 -393 -5\nc-290 -4 -398 -8 -414 -18 -12 -7 -34 -27 -48 -46 l-25 -33 -3 -769 -2 -769\n-400 -5 c-293 -4 -406 -8 -422 -17 -12 -7 -32 -28 -45 -45 -23 -33 -23 -37\n-26 -355 l-3 -323 -517 0 c-569 0 -580 -1 -693 -61 -70 -38 -177 -146 -212\n-215 -103 -204 -67 -443 93 -605 74 -76 174 -131 269 -149 32 -6 259 -10 557\n-10 l504 0 0 -305 c0 -339 4 -365 64 -408 31 -22 37 -22 431 -27 l400 -5 2\n-764 c3 -853 -2 -802 73 -846 33 -19 54 -20 425 -23 l390 -3 -2 -195 c-1 -206\n5 -254 40 -293 47 -51 48 -51 617 -51 l530 0 0 -395 0 -395 -319 0 c-452 0\n-421 33 -421 -445 0 -368 1 -377 69 -422 l34 -23 3537 0 3537 0 33 23 c69 46\n70 54 70 422 0 368 -1 376 -70 423 -32 22 -38 22 -351 22 l-319 0 0 394 0 395\n643 4 642 3 106 26 c478 117 822 460 951 948 l23 85 3 2310 c3 2121 2 2318\n-14 2405 -88 504 -446 885 -958 1023 l-81 21 -1547 3 -1548 3 0 574 c0 598 -1\n617 -44 664 -49 55 22 52 -1298 52 -1005 -1 -1229 -3 -1254 -14z m2286 -1326\nl0 -1040 -1032 2 -1033 3 -3 1038 -2 1037 1035 0 1035 0 0 -1040z m-2370 -736\nc0 -475 0 -487 21 -524 43 -76 -67 -70 1314 -70 l1238 0 34 21 c69 43 68 29\n71 572 l3 487 737 -2 737 -3 0 -3110 0 -3110 -3187 -3 -3188 -2 0 3115 0 3115\n1110 0 1110 0 0 -486z m5815 458 c346 -100 584 -343 692 -707 17 -57 18 -188\n21 -2343 2 -2203 2 -2286 -17 -2375 -74 -364 -344 -648 -711 -748 -84 -23 -94\n-23 -712 -27 l-628 -3 0 3116 0 3116 638 -3 c630 -4 638 -4 717 -26z m-8345\n-3052 c0 -1422 0 -2588 0 -2592 0 -5 -133 -8 -295 -8 l-295 0 0 2588 c0 1424\n3 2592 7 2595 4 4 136 6 295 5 l288 -3 0 -2585z m-885 -5 l0 -960 -292 -3\n-293 -2 0 965 0 965 293 -2 292 -3 0 -960z m-895 -5 l0 -220 -493 0 c-289 0\n-506 4 -526 10 -189 54 -216 314 -42 405 l46 24 508 1 507 0 0 -220z m8465\n-3835 l0 -390 -2589 -3 c-2065 -2 -2591 0 -2598 10 -9 15 -10 763 -1 772 4 3\n1172 5 2597 4 l2591 -3 0 -390z m745 -840 l0 -145 -3340 0 -3340 0 0 145 0\n145 3340 0 3340 0 0 -145z\" />\n                <path d=\"M7047 9331 c-15 -10 -34 -27 -41 -37 -30 -42 -326 -802 -326 -836 0\n-49 45 -114 92 -133 26 -10 73 -15 148 -15 l110 0 -100 -200 c-110 -219 -119\n-255 -80 -318 31 -51 76 -74 136 -69 91 6 96 14 275 370 175 348 184 377 145\n442 -37 63 -58 70 -208 73 -76 2 -138 8 -138 13 0 5 48 129 107 276 85 210\n108 278 107 314 0 53 -29 101 -74 124 -41 21 -119 19 -153 -4z\" />\n                <path d=\"M4530 6662 c-22 -12 -44 -35 -58 -63 l-22 -44 2 -1670 3 -1670 23\n-33 c49 -67 -151 -62 2352 -62 2503 0 2303 -5 2352 62 l23 33 3 1670 2 1670\n-22 44 c-14 28 -36 51 -58 63 -33 17 -127 18 -2300 18 -2173 0 -2267 -1 -2300\n-18z m4380 -1762 l0 -1480 -2080 0 -2079 0 -1 1473 c0 810 3 1476 7 1480 3 4\n939 7 2080 7 l2073 0 0 -1480z\" />\n                <path d=\"M5290 5782 c-111 -49 -125 -193 -27 -266 l28 -21 1539 0 1539 0 28\n21 c92 69 87 206 -9 255 -36 18 -81 19 -1560 18 -838 0 -1530 -3 -1538 -7z\" />\n                <path d=\"M5285 5036 c-91 -41 -119 -163 -53 -234 52 -55 -47 -52 1598 -52\n1677 0 1553 -5 1603 62 59 80 30 186 -60 224 -47 20 -3043 20 -3088 0z\" />\n                <path d=\"M5305 4303 c-91 -23 -137 -144 -86 -227 44 -71 -80 -66 1616 -66\n1436 0 1529 1 1557 18 92 54 95 189 5 256 l-28 21 -1522 1 c-837 1 -1531 0\n-1542 -3z\" />\n        </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 1180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ab815e9d37ee0628",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "input-button",
        "group": "3f13701e6731b9f8",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "SET INPUT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1090,
        "y": 380,
        "wires": [
            [
                "74a4b905ddfaaa15"
            ]
        ]
    },
    {
        "id": "2aa6cd4a9092011c",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "alarm-log-button",
        "group": "3f13701e6731b9f8",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Alarm Log",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "014a272ab3a5386f"
            ]
        ]
    },
    {
        "id": "06d860ad5f36f0d5",
        "type": "ui_ui_control",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "",
        "events": "all",
        "x": 960,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "995675ba814433d6",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "function 1",
        "func": "msg.payload = {\n    \"tab\": \"Account\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [
                "06d860ad5f36f0d5"
            ]
        ]
    },
    {
        "id": "7e57bd280ded3032",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "rand ",
        "func": "// Simulate AC motor RPM: range between 700 and 900\nlet rpm = Math.floor(Math.random() * 200) + 700; // 700900 RPM\n\n// Simulated current: proportional to speed (normalized to 900 RPM max)\nlet current = (rpm / 900) * 10 + Math.random();  // up to ~10A + noise\n\n// Simulated power: P = V * I * PF\nlet voltage = 220;\nlet pf = 0.85;\nlet power = voltage * current * pf;\n\n// Round values\nrpm = Math.round(rpm);\ncurrent = parseFloat(current.toFixed(2));\npower = Math.round(power);\n\n// Output messages\nlet msg1 = { payload: rpm };      // Speed (RPM)\nlet msg2 = { payload: current };  // Current (A)\nlet msg3 = { payload: power };    // Power (W)\n\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 600,
        "wires": [
            [
                "947bd86b96cd7c46",
                "f55adc923ec06fd1"
            ],
            [
                "55ecdfd71dd3255d"
            ],
            [
                "8c7369f6466e7777"
            ]
        ]
    },
    {
        "id": "6ad719e6d41e4fa5",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "function 2",
        "func": "msg.payload = {\n    \"tab\": \"Setting\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 140,
        "wires": [
            [
                "06d860ad5f36f0d5"
            ]
        ]
    },
    {
        "id": "3ae7533ada099cfc",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "function 3",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "06d860ad5f36f0d5"
            ]
        ]
    },
    {
        "id": "46994f270f16cc2e",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "9415a6badb2f7d8d",
        "name": "function 4",
        "func": "msg.payload = {\n    \"tab\": \"Data\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "06d860ad5f36f0d5"
            ]
        ]
    },
    {
        "id": "125ef0fb54538341",
        "type": "ui_ui_control",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "",
        "events": "all",
        "x": 1320,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "014a272ab3a5386f",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "function 5",
        "func": "msg.payload = {\n    \"tab\": \"Alarm\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "125ef0fb54538341"
            ]
        ]
    },
    {
        "id": "74a4b905ddfaaa15",
        "type": "ui_toast",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Motor AC Speed Input",
        "name": "input-notif",
        "x": 1240,
        "y": 380,
        "wires": [
            [
                "76a7a1c099e775e3",
                "5afee7908882af13"
            ]
        ]
    },
    {
        "id": "370c309de877086b",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "motor-dir",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "b046616d09e091c8",
        "type": "change",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "motorInput",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 420,
        "wires": [
            [
                "32e72f5aabc8c85f"
            ]
        ]
    },
    {
        "id": "8f84d70ef143b8a9",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "motor-stat",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 880,
        "wires": []
    },
    {
        "id": "8a9a8dba3a15ca94",
        "type": "change",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "8f84d70ef143b8a9"
            ]
        ]
    },
    {
        "id": "b45626b9b8badaa5",
        "type": "change",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dir",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "370c309de877086b"
            ]
        ]
    },
    {
        "id": "c3fd573be30b4241",
        "type": "change",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vsd",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "31c3a58a41853f05"
            ]
        ]
    },
    {
        "id": "32e72f5aabc8c85f",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "motor-input",
        "label": "Input Speed",
        "format": "{{msg.payload}} RPM",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1230,
        "y": 880,
        "wires": []
    },
    {
        "id": "31c3a58a41853f05",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "motor-vsd",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 880,
        "wires": []
    },
    {
        "id": "789ea23efdf053cd",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "motor-power",
        "label": "",
        "format": "{{msg.payload}} Wh",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 880,
        "wires": []
    },
    {
        "id": "fdca07b92d06285a",
        "type": "change",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 640,
        "wires": [
            [
                "789ea23efdf053cd"
            ]
        ]
    },
    {
        "id": "f55adc923ec06fd1",
        "type": "change",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "89d5f49e590fa238"
            ]
        ]
    },
    {
        "id": "8e04ef637635976c",
        "type": "inject",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "7e57bd280ded3032"
            ]
        ]
    },
    {
        "id": "89d5f49e590fa238",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "motor-actual-speed",
        "label": "Actual Speed: ",
        "format": "{{msg.payload}} RPM",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 880,
        "wires": []
    },
    {
        "id": "a4cb12077d671cbd",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "motor-stat",
        "label": "Motor AC:",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 340,
        "y": 880,
        "wires": []
    },
    {
        "id": "41a9308bc927d0f0",
        "type": "inject",
        "z": "718f663448931cb0",
        "g": "021557ad184624df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "a51a337854e1cb50",
                "898eda77b821b8b8",
                "435085504f6ab646"
            ]
        ]
    },
    {
        "id": "76a7a1c099e775e3",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "function 18",
        "func": "if (msg.payload > 900){\n    msg.payload = \"ALERT: Melebihi batas maksimum input speed motor.\"\n} else {\n    msg.payload = NaN;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "03543aa1ac5a70f1"
            ]
        ]
    },
    {
        "id": "03543aa1ac5a70f1",
        "type": "ui_toast",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5afee7908882af13",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "function 19",
        "func": "if (msg.payload > 900){\n    msg.payload = 0;\n} else {\n    msg.payload = msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 380,
        "wires": [
            [
                "b046616d09e091c8"
            ]
        ]
    },
    {
        "id": "385eae1ce959a728",
        "type": "ui_button",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "name": "reset-but",
        "group": "3f13701e6731b9f8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reset Fault",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "bd737a4079737640"
            ]
        ]
    },
    {
        "id": "aaac8b87e421ca79",
        "type": "ui_text",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "mqtt",
        "label": "MQTT",
        "format": "Connect",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "a66cb7b9ae7526ed",
        "type": "ui_template",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "group": "338fbe2bb0801168",
        "name": "",
        "order": 9,
        "width": 24,
        "height": 1,
        "format": "<!-- HTML -->\n<div id=\"latest-warning-container\">\n    <div id=\"latest-warning\" class=\"notification\" style=\"display: none;\"></div>\n</div>\n\n<!-- CSS -->\n<style>\n    .notification {\n        background: #fff;\n        border-left: 6px solid #FFA726;\n        padding: 6px 12px;\n        height: 60px;\n        border-radius: 6px;\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n        font-family: 'Segoe UI', sans-serif;\n        overflow: hidden;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n    }\n\n    .notification.info {\n        border-left-color: #42A5F5;\n    }\n\n    .notification.critical {\n        border-left-color: #EF5350;\n    }\n\n    .notification.success {\n        border-left-color: #66BB6A;\n    }\n\n    .notification-header {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        font-size: 0.95em;\n        font-weight: 600;\n        white-space: nowrap;\n        overflow: hidden;\n        text-overflow: ellipsis;\n    }\n\n    .notification .timestamp {\n        font-size: 0.8em;\n        color: #888;\n        margin-left: 10px;\n        flex-shrink: 0;\n    }\n\n    .notification .message {\n        font-size: 0.9em;\n        color: #444;\n        white-space: nowrap;\n        overflow: hidden;\n        text-overflow: ellipsis;\n    }\n</style>\n\n<!-- JavaScript -->\n<script>\n    (function(scope) {\n    scope.$watch('msg', function(msg) {\n      if (!msg || !msg.payload) return;\n\n      const container = document.getElementById(\"latest-warning\");\n      const { title, message, level } = msg.payload;\n\n      const now = new Date();\n      const timestamp = now.toLocaleTimeString();\n\n      container.className = \"notification \" + (level || \"warning\");\n      container.innerHTML = `\n        <div class=\"notification-header\">\n          <span>${title || \"Warning\"}</span>\n          <span class=\"timestamp\">${timestamp}</span>\n        </div>\n        <div class=\"message\">${message || \"-\"}</div>\n      `;\n\n      container.style.display = \"block\";\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e7949155cce704d1",
        "type": "function",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "name": "function 22",
        "func": "msg.payload = {\n    title: \"Pump 2\",\n    message: \"Overload detected at 7.5A\",\n    level: \"critical\" // options: warning, info, critical, success\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 940,
        "wires": [
            [
                "a66cb7b9ae7526ed"
            ]
        ]
    },
    {
        "id": "2e6df055aea536cc",
        "type": "inject",
        "z": "718f663448931cb0",
        "g": "02a2c3a5232ffa16",
        "name": "ex. notif",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 940,
        "wires": [
            [
                "e7949155cce704d1"
            ]
        ]
    },
    {
        "id": "cd20353a3e248329",
        "type": "ui_template",
        "z": "718f663448931cb0",
        "group": "3b644f18c97d51e7",
        "name": "CSS Styling Acc2",
        "order": 9,
        "width": 25,
        "height": 1,
        "format": "<style>\n#Home_Header {\n//border-radius: 8px !important; /* Set the desired border radius for containers */\n//overflow: hidden; /* Ensure content does not overflow the rounded corners */\nbackground-color: white !important;\n/* Set your desired background color */\nborder: none !important;\n/* Remove the border */\nbox-shadow: none;\n}\n\n#Home_Header_cards > md-card.nr-dashboard-text._md.layout-row.layout-align-start-center.nr-dashboard-widget-.visible{\nbackground-color: white !important;\n/* Set your desired background color */\nborder: none !important;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1210,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bd737a4079737640",
        "type": "ui_toast",
        "z": "718f663448931cb0",
        "g": "6fa12e6be06a2ffb",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Force Reset/Stop System?",
        "name": "",
        "x": 1270,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "94bccf580489af09",
        "type": "ui_text",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "group": "61bf19e7258d5586",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Title",
        "label": "Motor AC IIoT - 2025",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "69866364451c0825",
        "type": "ui_button",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "Home",
        "group": "61bf19e7258d5586",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "5639c66987fa13cf"
            ]
        ]
    },
    {
        "id": "4edb6a4705473a40",
        "type": "ui_button",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "Data",
        "group": "61bf19e7258d5586",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "insert_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "7e33f47988db94f1"
            ]
        ]
    },
    {
        "id": "ca48e1db572a66fa",
        "type": "ui_button",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "Setting",
        "group": "61bf19e7258d5586",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "settings",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "b62db261bb7ce332"
            ]
        ]
    },
    {
        "id": "243e81faa0455cee",
        "type": "ui_button",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "Login",
        "group": "61bf19e7258d5586",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "person",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "9ed1669be97813fb"
            ]
        ]
    },
    {
        "id": "9ed1669be97813fb",
        "type": "function",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "function 6",
        "func": "msg.payload = {\n    \"tab\": \"Account\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 200,
        "wires": [
            [
                "f9cf475ffc0263dd"
            ]
        ]
    },
    {
        "id": "f9cf475ffc0263dd",
        "type": "ui_ui_control",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b62db261bb7ce332",
        "type": "function",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "function 7",
        "func": "msg.payload = {\n    \"tab\": \"Setting\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "f9cf475ffc0263dd"
            ]
        ]
    },
    {
        "id": "5639c66987fa13cf",
        "type": "function",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "function 8",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "f9cf475ffc0263dd"
            ]
        ]
    },
    {
        "id": "7e33f47988db94f1",
        "type": "function",
        "z": "c5800fc4ea47bc2d",
        "g": "1b916e236ee42353",
        "name": "function 9",
        "func": "msg.payload = {\n    \"tab\": \"Data\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "f9cf475ffc0263dd"
            ]
        ]
    },
    {
        "id": "dfb71674751a7e8f",
        "type": "ui_chart",
        "z": "c5800fc4ea47bc2d",
        "name": "",
        "group": "d0c708dc21e53e39",
        "order": 4,
        "width": 24,
        "height": 11,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "not connected",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4c97636ee59d0f86",
        "type": "ui_dropdown",
        "z": "c5800fc4ea47bc2d",
        "name": "Select Variable",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "d0c708dc21e53e39",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Power",
                "value": "Power",
                "type": "str"
            },
            {
                "label": "Current",
                "value": "Current",
                "type": "str"
            },
            {
                "label": "Speed",
                "value": "Speed",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "0cdfc04ed2a8a8ec"
            ]
        ]
    },
    {
        "id": "111a51c419d903a8",
        "type": "ui_dropdown",
        "z": "c5800fc4ea47bc2d",
        "name": "Select Timerange",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "d0c708dc21e53e39",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 min",
                "value": "1 min",
                "type": "str"
            },
            {
                "label": "3 min",
                "value": "3 min",
                "type": "str"
            },
            {
                "label": "5 min",
                "value": "5 min",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "e107ae36227f6ab9"
            ]
        ]
    },
    {
        "id": "0cdfc04ed2a8a8ec",
        "type": "change",
        "z": "c5800fc4ea47bc2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "var",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e107ae36227f6ab9",
        "type": "change",
        "z": "c5800fc4ea47bc2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tr",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9b78597534cc214c",
        "type": "ui_template",
        "z": "9ab9b945bb042acc",
        "group": "70dd8a9401882dd2",
        "name": "acc. manage",
        "order": 1,
        "width": 16,
        "height": 11,
        "format": "<!-- HTML -->\n<div style=\"max-height: 400px; overflow-y: auto;\" id=\"user-container\">\n    <h3 style=\"margin-bottom: 10px;\"> User Management</h3>\n    <div id=\"user-list\" class=\"user-list\"></div>\n</div>\n\n<!-- CSS -->\n<style>\n    .user-list {\n        font-family: 'Segoe UI', sans-serif;\n    }\n\n    .user-item {\n        background: #fff;\n        padding: 12px 16px;\n        margin: 8px 0;\n        border-left: 6px solid #42A5F5;\n        border-radius: 4px;\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n    }\n\n    .user-info {\n        display: flex;\n        flex-direction: column;\n    }\n\n    .username {\n        font-weight: bold;\n        font-size: 1em;\n    }\n\n    .role {\n        font-size: 0.9em;\n        color: #666;\n    }\n\n    .user-actions {\n        display: flex;\n        gap: 8px;\n    }\n\n    .user-actions button {\n        padding: 4px 8px;\n        border: none;\n        border-radius: 3px;\n        cursor: pointer;\n        font-size: 0.85em;\n    }\n\n    .edit-btn {\n        background-color: #42A5F5;\n        color: white;\n    }\n\n    .delete-btn {\n        background-color: #EF5350;\n        color: white;\n    }\n</style>\n\n<!-- JavaScript -->\n<script>\n    (function(scope){\n    // Render user list\n    scope.renderUsers = function(users) {\n        const list = document.getElementById('user-list');\n        list.innerHTML = ''; // Clear list\n\n        users.forEach(user => {\n            const item = document.createElement('div');\n            item.className = 'user-item';\n\n            item.innerHTML = `\n                <div class=\"user-info\">\n                    <div class=\"username\">${user.username}</div>\n                    <div class=\"role\">Role: ${user.role}</div>\n                </div>\n                <div class=\"user-actions\">\n                    <button class=\"edit-btn\" onclick=\"editUser('${user.username}')\">Edit</button>\n                    <button class=\"delete-btn\" onclick=\"deleteUser('${user.username}')\">Delete</button>\n                </div>\n            `;\n\n            list.appendChild(item);\n        });\n    };\n\n    // Dummy data on first load\n    const dummyUsers = [\n        { username: 'faaq', role: 'Administrator' },\n        { username: 'aas', role: 'Student' }\n    ];\n    scope.renderUsers(dummyUsers);\n\n    // Live update from Node-RED msg\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload && Array.isArray(msg.payload.users)) {\n            scope.renderUsers(msg.payload.users);\n        }\n    });\n\n    // Dummy actions  replace with scope.send if needed\n    window.editUser = function(username) {\n        alert(\"Edit user: \" + username);\n    };\n\n    window.deleteUser = function(username) {\n        const confirmed = confirm(\"Are you sure you want to delete: \" + username + \"?\");\n        if (confirmed) {\n            alert(\"Deleted user: \" + username);\n        }\n    };\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "85b1e04a6bce916e",
        "type": "ui_text",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "group": "01e9c3b1c142a2a4",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Title",
        "label": "Motor AC IIoT - 2025",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "b0f5cd15b99e7810",
        "type": "ui_button",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "Home",
        "group": "01e9c3b1c142a2a4",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "6922d206ade88add"
            ]
        ]
    },
    {
        "id": "277163164f7f1a07",
        "type": "ui_button",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "Data",
        "group": "01e9c3b1c142a2a4",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "insert_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "d0bbc268045c3220"
            ]
        ]
    },
    {
        "id": "4fecb11a24e0b9bc",
        "type": "ui_button",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "Login",
        "group": "01e9c3b1c142a2a4",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "person",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "d10af536d0e41ea0"
            ]
        ]
    },
    {
        "id": "d10af536d0e41ea0",
        "type": "function",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "function 10",
        "func": "msg.payload = {\n    \"tab\": \"Account\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 200,
        "wires": [
            [
                "5b98f84456aaa093"
            ]
        ]
    },
    {
        "id": "5b98f84456aaa093",
        "type": "ui_ui_control",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "194bb89e8f54ab97",
        "type": "function",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "function 11",
        "func": "msg.payload = {\n    \"tab\": \"Setting\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "5b98f84456aaa093"
            ]
        ]
    },
    {
        "id": "6922d206ade88add",
        "type": "function",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "function 12",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "5b98f84456aaa093"
            ]
        ]
    },
    {
        "id": "d0bbc268045c3220",
        "type": "function",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "function 13",
        "func": "msg.payload = {\n    \"tab\": \"Data\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "5b98f84456aaa093"
            ]
        ]
    },
    {
        "id": "f0f5333a08dc6175",
        "type": "ui_text",
        "z": "9ab9b945bb042acc",
        "group": "40002591dc46e0e5",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "System Info",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "506ff32c81db03b8",
        "type": "ui_text",
        "z": "9ab9b945bb042acc",
        "group": "40002591dc46e0e5",
        "order": 2,
        "width": 8,
        "height": 10,
        "name": "",
        "label": "This dummy system simulates the operation of an AC motor integrated with an Omron PLC, Weintek HMI, and IIoT capabilities using MQTT and Node-RED. The Weintek HMI acts as the user interface, allowing the operator to initialize the system, acknowledge safety checks, and start or stop the motor. When the motor is started, the PLC energizes a contactor or VFD to power the motor, while also monitoring parameters such as temperature, vibration, and power consumption. These readings are mapped to PLC registers (e.g., D300D302) and used for real-time condition checks. If thresholds are exceeded, warning flags are set (e.g., M210 for over-temperature), and the HMI displays alert messages accordingly. The motor's operational state is stored in registers (e.g., D100 = 1 for running) and reset when stopped via the HMI.  In parallel, the system transmits real-time data to a Node-RED dashboard using MQTT. ",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1460,
        "y": 540,
        "wires": []
    },
    {
        "id": "49c17b28529391ff",
        "type": "ui_button",
        "z": "9ab9b945bb042acc",
        "g": "8fdeddd43b90e126",
        "name": "Setting",
        "group": "01e9c3b1c142a2a4",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "settings",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 120,
        "wires": [
            [
                "194bb89e8f54ab97"
            ]
        ]
    },
    {
        "id": "4fb492c12402d3cb",
        "type": "function",
        "z": "9ab9b945bb042acc",
        "name": "function 20",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc3f11d7150804d",
        "type": "ui_template",
        "z": "796c82189a31d53b",
        "group": "0bb779cf2d9a38a8",
        "name": "alarm-group",
        "order": 1,
        "width": 24,
        "height": 10,
        "format": "<!-- HTML -->\n<div style=\"max-height: 400px; overflow-y: auto;\" id=\"log-container\">\n    <h3 style=\"margin-bottom: 10px;\"> System Warnings</h3>\n    <div id=\"notifications\" class=\"notification-list\"></div>\n</div>\n\n<!-- CSS -->\n<style>\n    .notification-list {\n        font-family: 'Segoe UI', sans-serif;\n    }\n\n    .notification {\n        background: #fff;\n        border-left: 6px solid #FFA726;\n        padding: 12px 16px;\n        margin: 8px 0;\n        border-radius: 4px;\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n        transition: background 0.3s ease;\n    }\n\n    .notification.info {\n        border-left-color: #42A5F5;\n    }\n\n    .notification.critical {\n        border-left-color: #EF5350;\n    }\n\n    .notification.success {\n        border-left-color: #66BB6A;\n    }\n\n    .notification .title {\n        font-weight: bold;\n        margin-bottom: 4px;\n    }\n\n    .notification .timestamp {\n        font-size: 0.8em;\n        color: #777;\n        float: right;\n    }\n\n    .notification .message {\n        font-size: 0.95em;\n        color: #444;\n    }\n</style>\n\n<!-- JavaScript -->\n<script>\n    (function(scope){\n        scope.addWarning = function(title, message, level = 'warning') {\n            const notif = document.createElement('div');\n            notif.className = 'notification ' + level;\n\n            const now = new Date();\n            const timestamp = now.toLocaleTimeString();\n\n            notif.innerHTML = `\n                <div class=\"title\">${title} <span class=\"timestamp\">${timestamp}</span></div>\n                <div class=\"message\">${message}</div>\n            `;\n\n            const container = document.getElementById(\"notifications\");\n            container.prepend(notif);\n        };\n\n        // Simulated examples\n        setTimeout(() => {\n            scope.addWarning(\"System Started\", \"Neutral mode is ignited\", \"success\");\n        }, 1000);\n\n        setTimeout(() => {\n            scope.addWarning(\"PLC Fault\", \"Critical error on PLC 2 (ex.)\", \"critical\");\n        }, 3000);\n\n        setTimeout(() => {\n            scope.addWarning(\"Connection\", \"Modbus Timeout on Pump 1 (ex.)\", \"info\");\n        }, 5000);\n\n        // Listen for Node-RED message\n        scope.$watch('msg', function(msg) {\n            if(msg && msg.topic === \"alert\") {\n                const { title, message, level } = msg.payload;\n                scope.addWarning(title || \"Unknown\", message || \"\", level || \"warning\");\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2d3afe0869698aa3",
        "type": "ui_text",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "group": "87d72bf1ea31db77",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "Title",
        "label": "Motor AC IIoT - 2025",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "e94c8cc5fc6fa8aa",
        "type": "ui_button",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "Data",
        "group": "87d72bf1ea31db77",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "insert_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "95d9c33ee7fb640a"
            ]
        ]
    },
    {
        "id": "d6c384b4f19ff0ad",
        "type": "ui_button",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "Login",
        "group": "87d72bf1ea31db77",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "person",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "8bef0fdc0bcd0b40"
            ]
        ]
    },
    {
        "id": "8bef0fdc0bcd0b40",
        "type": "function",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "function 14",
        "func": "msg.payload = {\n    \"tab\": \"Account\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "a536f0bc8a91a9e9"
            ]
        ]
    },
    {
        "id": "a536f0bc8a91a9e9",
        "type": "ui_ui_control",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "",
        "events": "all",
        "x": 1060,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "682ceaeef1e3a05e",
        "type": "function",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "function 15",
        "func": "msg.payload = {\n    \"tab\": \"Setting\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 140,
        "wires": [
            [
                "a536f0bc8a91a9e9"
            ]
        ]
    },
    {
        "id": "25e3a39018107545",
        "type": "function",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "function 16",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "a536f0bc8a91a9e9"
            ]
        ]
    },
    {
        "id": "95d9c33ee7fb640a",
        "type": "function",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "function 17",
        "func": "msg.payload = {\n    \"tab\": \"Data\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "a536f0bc8a91a9e9"
            ]
        ]
    },
    {
        "id": "1e41adbda7e5033e",
        "type": "ui_button",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "Home",
        "group": "87d72bf1ea31db77",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "25e3a39018107545"
            ]
        ]
    },
    {
        "id": "e0d3a697f0dc5a32",
        "type": "ui_button",
        "z": "796c82189a31d53b",
        "g": "5e8f0350d3f6f278",
        "name": "Setting",
        "group": "87d72bf1ea31db77",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "settings",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 80,
        "wires": [
            [
                "682ceaeef1e3a05e"
            ]
        ]
    },
    {
        "id": "4942d094fc48e5df",
        "type": "function",
        "z": "796c82189a31d53b",
        "name": "function 21",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 360,
        "wires": [
            []
        ]
    }
]